<script>
import { initPlayer, state } from "../lib/baucua";


    // import 'emoji-picker-element';


    let adding = false;
    let picking = false;

    let emoji_list = [
        "🙏",
        "🚀",
        "🚽",
        "⭐",
        "🌀",
        "🌊",
        "🌈",
        "🌛",
        "🍆",
        "🍑",
        "🍒",
        "🍙",
        "🍡",
        "🐸",
        "🐵",
        "🐶",
        "👻",
        "👼",
        "👽",
        "🔮",
        "😈"
    ];
    let emoji = emoji_list[0];

    let player_name;
    let balanceText;
    let balance;
    
    $: {
        try {
            balance = parseInt(balanceText)
        } catch {
            balance = 0;
        }
    };

    function handleAdd(e) {
        if (adding) {
            console.log(player_name, emoji, balance);
            $state.player_list = [...$state.player_list, initPlayer(player_name, emoji, balance)];
            adding = false;
        } else {
            adding = true;
        }
    }

</script>

<div class="add-player {adding ? "adding" : ""}">
    {#if adding}
    <div class="add-menu" >
        <div class="name">
            <span class="emoji-btn" on:click={e=>picking = !picking}> {emoji} </span>
            {#if picking}
            <span class="emoji-wrapper bordered" >
                {#each emoji_list as em}
                <span class="emoji" on:click={e=>{emoji = e.currentTarget.innerText}}>{em}</span>
                {/each}
            </span>
            {/if}
            <input bind:value={player_name} type="text" placeholder="name">
        </div>
        <input bind:value={balanceText} class="balance" type="text" placeholder="$">
    </div>
    {/if}
    <!-- {:else} -->
    <button class="add-btn" on:click={handleAdd}> 
        { adding ? "confirm player" : "add player" }
    </button>
</div>

<style>
    .add-player {
        margin: 10px;
        z-index: 2;
        position: relative;
    }
    
    .add-menu {
        display: flex;
        align-items: center;
        width: 100%;
        /* display: block; */
    }

    .name {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
    }

    .name > *, .balance {
        margin: 10px 0 10px 10px;
    }

    .balance {
        text-align: right;
        margin-right: 10px;
    }

    .emoji-wrapper {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        width: 200px;
        top: 100%;
        align-items: center;
        justify-content: center;
        padding: 5px;
        
    }

    .emoji {
        cursor: pointer;
        padding: 5px;
        font-size: 1.1em;
    }

    input {
        /* padding: 10px; */
        border: none;
        outline: none;
        background: none;
        font: inherit;
        width: 50%;
        color: var(--gold);
    }

    .add-btn {
        width: 100%;
        height: 100%;
        outline: none;
        background: none;
        border: none;
        padding: 10px;
        text-align: center;
        transition: all 100ms;
        cursor: pointer;
        font-family: inherit;
        display: block;
        color: var(--gold);
        border-radius: 5px;
    }
    
    .add-btn:hover {
        background: var(--gold);
        color: var(--red);
    }
    
</style>