<script>
    import { state } from "../lib/baucua";
    import { onMount } from "svelte";
    import { blur } from "svelte/transition";


    let tiger;

    export let level;

    let white_style = `
        fill: white;
        `;
        // filter: url(#f1);
    let red_style = `
        fill: var(--gold);
        `;
        // filter: url(#f1);
    let gold_style = `
        fill: url(#gold);
        `;
        // filter: url(#f1);

    $: style = level == 1 ? white_style :
               level == 2 ? red_style :
               level == 3 ? gold_style : ``;
    // $: style = gold_style;

    $: bg_style = level == 1 ? "background: var(--red)":
                  level == 2 ? "background: var(--red)" :
                  level == 3 ? "background: black": '';
    // $: bg_style = "background: black";

    onMount(() => {
        tiger.setAttribute("style", style)
    });
</script>

<div class="award" in:blur={{delay: 100 * level ** 2}} style={bg_style}>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1273.24 1351.64" bind:this={tiger} class="tiger">
        <defs>
            <filter id="f1" x="0" y="0" width="200%" height="200%">
                <feOffset result="offOut" in="SourceAlpha" dx="1.5" dy="1.5" />
                <feGaussianBlur result="blurOut" in="offOut" stdDeviation="10" />
                <feBlend in="SourceGraphic" in2="offOut" mode="white" />
            </filter>

            <linearGradient id="gold" x1="0" y1="0.5" x2="1" y2="0.5">
              <stop offset="0%" stop-color="#f6e05e"/>
              <stop offset="8%" stop-color="#efcf52"/>
              <stop offset="16%" stop-color="#e7bf46"/>
              <stop offset="32%" stop-color="#d69e2e"/>
              <stop offset="42.75%" stop-color="#dfae3a"/>
              <stop offset="53.5%" stop-color="#e7bf46"/>
              <stop offset="75%" stop-color="#f6e05e"/>
              <stop offset="80.5%" stop-color="#f4da59"/>
              <stop offset="86%" stop-color="#f1d454"/>
              <stop offset="97%" stop-color="#ecc94b"/>
            </linearGradient>
          </defs>
        <g>
          <path d="M393.76,1050.85c-2.18,4-2.91,7.8-3.95,11.46-4.57,16.16-8.42,32.49-11.71,49-2.78,14-5.2,28-6.69,42.13-1.9,18.14-3.22,36.31-2.52,54.58a328.42,328.42,0,0,0,6.26,51.36c1.92,9.72,3.61,19.49,5.42,29.23.85,4.56,1.78,9.1,2.62,13.66.26,1.37.34,2.78.56,4.68a41,41,0,0,1-3.94-1.43c-9.32-4.6-18.66-9.14-27.91-13.89-6.53-3.36-12.87-7.11-19.4-10.49a9,9,0,0,1-4.72-5.68c-2.56-8.25-5.32-16.43-7.77-24.71-3.55-12-5.85-24.23-7.91-36.53-.92-5.51-1.52-11.09-1.89-16.67-.57-8.77-1.3-17.55-1-26.35.69-18.93,3.11-37.6,8.47-55.81A190.45,190.45,0,0,1,336.89,1071a165.1,165.1,0,0,1,38.95-44.52c5.13-4.08,10.52-7.82,15.74-11.78a5.32,5.32,0,0,1,6.22-.6c4.82,2.47,9.85,4.53,14.68,7.29,0,1.89,0,3.64,0,5.38a369.62,369.62,0,0,0,1.13,41.71q1.38,15.51,4.1,30.9a269.84,269.84,0,0,0,10.16,40.9c4.32,12.54,9.11,24.92,14.06,37.23,3.82,9.48,8,18.83,12.39,28.07A244,244,0,0,0,477,1244.45a277.68,277.68,0,0,0,19.42,23.75c12.69,14,25.65,27.66,39.53,40.46a273.83,273.83,0,0,0,55.56,39.89,173.76,173.76,0,0,0,32.81,13.33c1,.31,2.09.65,3.25,1-.73,1.24-1.77.81-2.57.77-9.1-.41-18.22-.67-27.3-1.41q-17-1.38-33.87-3.48-23.07-2.88-45.84-7.67c-13.62-2.85-27.08-6.35-40.55-9.8a13.55,13.55,0,0,1-8.3-5.83c-11.23-16.16-21.85-32.69-31.69-49.74a456.14,456.14,0,0,1-23.38-46.17A208.07,208.07,0,0,1,404,1210.09c-7.84-29.55-10.88-59.72-11.51-90.19a543.87,543.87,0,0,1,1.52-57.52c.28-3.34.23-6.71.31-10.07A6.63,6.63,0,0,0,393.76,1050.85Z" transform="translate(-10.2 -12.13)"/>
          <path d="M724.51,1359.61c-10.3,1-19.53,1.85-28.76,2.65a16.68,16.68,0,0,1-4.28-.33,179.52,179.52,0,0,1-43-13.24,184.93,184.93,0,0,1-69.89-54c-17.41-22-29.33-46.75-37.41-73.48a296.14,296.14,0,0,1-7.51-30.74,341.87,341.87,0,0,1-5.35-49.55,232,232,0,0,1,2.45-44,127.11,127.11,0,0,1,5.5-22.33c.83-2.39,2.05-4.65,3.09-7a15.8,15.8,0,0,1,3,0c4.06.89,8.08,2,12.14,2.79a5.55,5.55,0,0,1,4.26,3.44c1.5,3.53,2.94,7.09,4.25,10.69,1.7,4.66,3.39,9.32,4.8,14.07,1.94,6.49,5.09,12.42,8.19,18.36a181.29,181.29,0,0,0,26.24,37.1,366.16,366.16,0,0,0,71.63,61.2q23.27,15.29,47.88,28.29c23.18,12.23,46.3,24.59,69.57,36.67a353.7,353.7,0,0,0,46.91,20.69,163.69,163.69,0,0,0,27.3,7.34c4.73.78,9.42,1.78,14.13,2.64a105.38,105.38,0,0,0,19.66,1.26c-.26,1.57-1.58,1.61-2.5,2-12.23,5.58-24.79,10.34-37.46,14.79-6.18,2.17-12.47,4-18.68,6.06a7.42,7.42,0,0,1-5.13-.08c-6.44-2.4-13-4.53-19.35-7.1-14.38-5.8-28.78-11.56-43-17.81-13.31-5.86-26.35-12.32-39.49-18.56-11.42-5.42-22.5-11.47-33.35-17.94-10.43-6.22-20.77-12.6-30.94-19.23a501.09,501.09,0,0,1-41.8-30.55,407.54,407.54,0,0,1-42.56-39.36c-6.63-7.14-12.84-14.67-19.24-22-.4-.46-.83-.89-1.25-1.33-1,.8-.51,1.58-.21,2.2,3.82,8.09,7.39,16.32,11.58,24.21a439.61,439.61,0,0,0,36,56,597,597,0,0,0,57.26,65.78c14.13,14.14,29,27.53,44.28,40.37,2.7,2.26,5.43,4.48,8.09,6.77C722.45,1357.11,723.08,1358,724.51,1359.61Z" transform="translate(-10.2 -12.13)"/>
          <path d="M551.07,1053.51a31,31,0,0,1,3.23-3.35,66.84,66.84,0,0,1,7.49-5.16c12.18-6.75,22.33-15.93,31.69-26.09a91.91,91.91,0,0,0,15.42-22.43c3.12-6.47,6.77-12.73,9.44-19.39a256.5,256.5,0,0,0,8.28-24.5c6.78-23.5,12.06-47.38,17-71.34,2.08-10.17,4.07-20.37,5.57-30.63,1.26-8.69,2-17.47,2.52-26.24,1.58-25.23,1.32-50.5,1.08-75.76a35.49,35.49,0,0,1,.22-7.28c1.4-1.29,2.68-.9,3.93-.74q11.18,1.46,22.35,2.9c7.93,1,15.86,2,23.78,3,1.72.22,3.54.19,5.17,1.55a13.48,13.48,0,0,1,.3,2.64c-1,13.23-1.83,26.48-3.24,39.66a423.83,423.83,0,0,1-11.5,62.19,397.81,397.81,0,0,1-16.06,49.18c-5.46,13.48-10.91,27-16.48,40.4a169.92,169.92,0,0,1-10.82,21.37c-.32.53-.6,1.09-.91,1.65,1,.94,1.59,0,2-.41,4-3.93,8-7.83,11.82-11.91a465.52,465.52,0,0,0,40.69-50.27,503.19,503.19,0,0,0,31.89-51.81A529.93,529.93,0,0,0,761.23,797c4.4-11,8.61-22,12.44-33.21a28.35,28.35,0,0,1,2.19-4.79,5.82,5.82,0,0,1,5.6-3,34.42,34.42,0,0,1,4.76.48q12.48,2.39,24.92,4.89c1.24.25,2.43.7,4,1.15A38.07,38.07,0,0,1,814,766.2q-4.62,11.06-9.33,22.08c-6.27,14.7-12.71,29.33-18.81,44.1-7.69,18.61-15.94,37-24.92,55-4.76,9.59-9.41,19.23-14.29,28.76a368,368,0,0,1-34.27,54.23,324.08,324.08,0,0,1-24.61,29.38c-13.35,13.88-28,26.19-44.57,36.09a130.82,130.82,0,0,1-46.64,16.69c-10.75,1.73-21.54,3-32.45,2.72-3.35-.09-6.71-.36-10.05-.67A13.72,13.72,0,0,1,551.07,1053.51Z" transform="translate(-10.2 -12.13)"/>
          <path d="M955.81,825.2c9,4.07,38.35,32.29,46.38,44.07-.2,1.54-1.47,2.38-2.46,3.36q-10.25,10.1-20.54,20.15c-16.56,16.22-32.94,32.64-50.32,48-8.5,7.51-17.4,14.58-26.28,21.65q-36.58,29.13-75,55.81A653.74,653.74,0,0,1,767,1056c-10.83,5.86-21.66,11.7-33,16.57-5.58,2.39-11.28,4.52-16.94,6.7a11.44,11.44,0,0,1-3.27.7c-.51,0-1-.48-1.53-.72.23-2,1.8-2.42,2.86-3.27,4.23-3.41,8.68-6.56,12.8-10.1,15.12-13,27.66-28.31,38.45-45.08C778.43,1002,788,982,796.23,961.3q10.68-27,18.65-54.92c3.78-13.21,7.54-26.44,10.86-39.78,3-11.94,5.55-24,7.87-36.07,2.37-12.39,4.29-24.88,6.26-37.34,1.07-6.79,1.84-13.62,2.77-20.43a22.18,22.18,0,0,1,.62-2.42,12.13,12.13,0,0,1,2.84,0,53.25,53.25,0,0,1,5.94,1.89c12.64,5,25.29,9.92,37.88,15,5.48,2.21,10.84,4.72,16.23,7.16a29.91,29.91,0,0,1,3.24,2c-.2,1.16-.3,2.1-.52,3-3.42,14-7.52,27.76-12.14,41.4s-9.7,27.09-15.35,40.33a401.11,401.11,0,0,1-22.68,44.92,473,473,0,0,1-32.15,47.68c-5.71,7.5-11.76,14.73-17.65,22.09-.49.6-.9,1.25-1.34,1.87,1,1.06,1.62.27,2.14-.13,6.1-4.65,12.27-9.22,18.23-14.05a487.83,487.83,0,0,0,44.85-41.15A429.25,429.25,0,0,0,902,908.76,515,515,0,0,0,938.2,855.7c5.24-8.78,10.17-17.75,15.26-26.62C954.16,827.85,954.92,826.65,955.81,825.2Z" transform="translate(-10.2 -12.13)"/>
          <path d="M231.71,1010.63a23.27,23.27,0,0,0-1.87,2.59c-8.31,15.32-16.65,30.61-24.83,46-4,7.48-7.81,15-11.41,22.7a217.85,217.85,0,0,0-14.44,42.61c-1.86,7.78-3.6,15.58-5.44,23.36a23.76,23.76,0,0,1-1.31,3.22,18,18,0,0,1-2.11-1.73q-10.94-13-21.84-26.11a5.89,5.89,0,0,1-1.54-3.88,193.46,193.46,0,0,1,2.87-39.64,200.37,200.37,0,0,1,8.56-31.43,51.76,51.76,0,0,1,11-17.84,152,152,0,0,1,14.14-12.94c5.91-4.88,11.83-9.76,17.68-14.72,10.31-8.75,17.79-19.55,23.29-31.85,4.45-10,7.61-20.35,10.75-30.75,2.91-9.64,5.6-19.35,9.34-28.72.41-1,.91-2,1.4-3.09,2.15.11,3.09,1.76,4.31,2.89,6.12,5.63,12.09,11.43,18.3,16.94,5.86,5.19,12,10.1,18,15.14.86.72,1.7,1.46,2.57,2.16a3.23,3.23,0,0,1,1.17,3.41c-1.8,9.41-3.38,18.88-5.38,28.25-3.44,16.09-7.11,32.14-10.74,48.19-2.6,11.53-5.41,23-7.94,34.58a446.87,446.87,0,0,0-8,48.22,234.18,234.18,0,0,0-.61,44.54,211.55,211.55,0,0,0,5.17,33.11,189.69,189.69,0,0,0,11.38,33.55,192.18,192.18,0,0,0,15.64,28c2.69,3.94,5.65,7.69,8.5,11.55-1,.89-1.57.06-2.11-.31-7-4.76-14-9.52-21-14.36-11-7.67-21.57-16-31.9-24.57-9.22-7.64-18.08-15.73-27.13-23.58a10.18,10.18,0,0,1-3.63-7c-.74-7.48-1.77-14.93-2.37-22.41a335.43,335.43,0,0,1-.73-38.83c.47-12.79,1.14-25.59,3.64-38.16,2.15-10.8,4.74-21.53,7.42-32.22,3.5-14,7.29-27.83,10.94-41.74.4-1.53.71-3.08,1.06-4.62Z" transform="translate(-10.2 -12.13)"/>
          <path d="M633.92,743.24a32.64,32.64,0,0,1-.22,3.28,704.1,704.1,0,0,1-20.38,89.24c-5.58,18.52-11.64,36.89-19.54,54.6-9.95,22.31-22.41,43.07-38.27,61.73a201.6,201.6,0,0,1-37.83,34.45,243.41,243.41,0,0,1-45.43,24.64c-7.8,3.31-15.79,6.13-23.66,9.26a9,9,0,0,1-7.78-.37c-9.37-4.47-18.87-8.7-28.3-13-.86-.4-1.63-1-2.64-1.55.73-1.57,2.09-2,3.32-2.57,7.1-3.31,14.29-6.43,21.28-9.94A440.86,440.86,0,0,0,509.1,946.2c8.69-6.8,17-14,25.19-21.4.82-.73,1.54-1.56,2.38-2.41-1.39-1-1.94.21-2.59.64-10.5,7-20.8,14.31-31.49,21-8.79,5.51-17.91,10.52-27.08,15.38-20.25,10.73-41.43,19.3-63.08,26.73-7.85,2.69-15.9,4.8-23.83,7.29a9,9,0,0,1-6.92-.51c-9.39-4.44-18.86-8.73-28.29-13.09-2.15-1-4.28-2-7.05-3.34a23.64,23.64,0,0,1,3-1.3c11.89-3.14,23.81-6.21,35.7-9.38a173.51,173.51,0,0,0,31.71-12.24c15.23-7.47,29.83-16,44.37-24.73,17-10.18,33.68-20.91,50.12-32a290.3,290.3,0,0,0,33-26.2,346.6,346.6,0,0,0,37.4-39.13,222.84,222.84,0,0,0,16.93-25c11.26-18.8,21.54-38.13,31.27-57.75,1-2,2.08-3.87,3.13-5.8Z" transform="translate(-10.2 -12.13)"/>
          <path d="M1007.1,1241.76a27.66,27.66,0,0,1-1.8,2.48,214.47,214.47,0,0,1-20,17.82,306.19,306.19,0,0,1-28,20.17c-8.1,5.12-16.13,10.37-24.89,14.35-1.46.66-2.94,1.24-4.42,1.84a13.27,13.27,0,0,1-8.92.43c-8.28-2.44-16.46-5.07-24.12-9.22-9.26-5-18.77-9.61-28-14.61-11.67-6.29-23.37-12.55-34.34-20a200.91,200.91,0,0,1-35.35-30.78,226.37,226.37,0,0,1-32.74-46.51,258.78,258.78,0,0,1-19.08-46c-3.06-10.11-5.75-20.29-7.8-30.64-.21-1.09-.35-2.2-.47-3.31a3.84,3.84,0,0,1,.33-1.15,9.56,9.56,0,0,1,2.14-.37c4.95.22,9.89.56,14.84.75a4.31,4.31,0,0,1,3.84,2.31c4.24,6.77,8.35,13.64,13,20.16a302.7,302.7,0,0,0,47,52.23,348.31,348.31,0,0,0,57.48,41.36,291.79,291.79,0,0,0,56.82,25.3c12.66,4,25.54,7.11,38.84,8.15a83.17,83.17,0,0,0,31.27-3.42C1003.83,1242.72,1005,1242.38,1007.1,1241.76Z" transform="translate(-10.2 -12.13)"/>
          <path d="M199.44,826.22c2.66.12,5,.17,7.41.36a409.14,409.14,0,0,0,55.58.9,336.28,336.28,0,0,0,53.65-7.18c9.83-2.18,19.58-4.71,29.34-7.21,3.55-.9,7-2.14,10.52-3.27a2.84,2.84,0,0,0,1.68-1.56c-3.57.68-7.14,1.33-10.71,2a417.87,417.87,0,0,1-63.26,7.64,322.28,322.28,0,0,1-38.81-1c-12.93-1-25.75-2.71-38.55-4.67-4.74-.72-9.43-1.77-14.16-2.53A7.77,7.77,0,0,1,186,805.1c-3.27-6.76-6.72-13.44-10.09-20.15-1.72-3.43-3.44-6.86-5.11-10.31a22.55,22.55,0,0,1-.86-2.58,8.83,8.83,0,0,1,2.15.27,211.61,211.61,0,0,0,37.44,13.3,300.44,300.44,0,0,0,37.66,7.13A375.21,375.21,0,0,0,307,795.43a314.32,314.32,0,0,0,60.75-7.94,386.09,386.09,0,0,0,46-13.39,394.76,394.76,0,0,0,56.69-25.7,361.11,361.11,0,0,0,43.29-28.33c3.81-2.91,7.53-5.94,11.22-9,1.76-1.46,3.45-2,5.68-1,2.6,1.11,5.45,1.61,7.94,2.8-.13,2.19-1.56,3.08-2.69,4.13-7.85,7.27-15.65,14.61-23.61,21.76q-18,16.17-37.24,30.94c-12.82,9.82-25.89,19.29-40,27.15-8.66,4.82-17.63,9-26.71,13-16.83,7.4-34,13.94-51.42,19.83-11.2,3.79-22.55,7.16-33.88,10.54-8.11,2.42-16.3,4.6-24.47,6.79a191.72,191.72,0,0,1-26.72,5.54c-14.59,1.75-29.18,3.54-43.78,5.2-6,.68-5.07.4-8.47-3.6-6.3-7.43-12.4-15-18-23C200.68,829.83,199.47,828.68,199.44,826.22Z" transform="translate(-10.2 -12.13)"/>
          <path d="M94.94,1044.62c1.44-2,2.75-4,4.23-5.85,17.33-21.73,29.69-46.19,39.47-72,3.51-9.29,5.63-19,7.73-28.67,2.65-12.19,5.16-24.4,7-36.74s2.17-24.52,2.23-36.84a15.09,15.09,0,0,0-.31-2.28c-1.22-.28-1.57.53-1.87,1.22-.58,1.31-1.08,2.66-1.58,4-7.13,19.39-15.29,38.31-25.63,56.23A231.32,231.32,0,0,1,88.4,973a170.63,170.63,0,0,1-19.1,16,9.91,9.91,0,0,1-1.74.8c-.43-.34-1-.54-1.14-.92q-3.6-8.1-7.09-16.25a12,12,0,0,1-.46-2.09c.63-.77,1.27-1.68,2-2.46a307.79,307.79,0,0,0,28.31-34.4,400.73,400.73,0,0,0,24.43-38.42,280.53,280.53,0,0,0,18.83-40.37c6.45-17.74,12-35.75,17.34-53.85,1.54-5.21,3-10.45,4.52-15.67.4-1.35.91-2.66,1.37-4,1.59.28,1.87,1.48,2.32,2.45,4.82,10.46,10.36,20.55,16.08,30.54a14.09,14.09,0,0,1,2,6.32,661,661,0,0,1,1.12,69.53c-.51,11.5-1.15,23-2.41,34.45-2.5,22.84-8.15,45-15.36,66.71-4.53,13.65-9.14,27.29-14.26,40.73-6.54,17.18-13.61,34.15-20.48,51.2-.52,1.3-.84,2.8-2.55,3.61a15.33,15.33,0,0,1-2.2-2.28q-9.34-14.51-18.59-29.08C99.12,1052.06,97.14,1048.41,94.94,1044.62Z" transform="translate(-10.2 -12.13)"/>
          <path d="M1066.72,1143.5a16.26,16.26,0,0,1-.25,3.33,198.13,198.13,0,0,1-12.4,30.9c-1.66,1.11-3.3.88-4.85.67-5.86-.76-11.75-1.4-17.54-2.53-7.37-1.44-14.64-3.32-22-5a124.57,124.57,0,0,1-30.8-11.76c-10.3-5.47-20.63-10.87-30.95-16.29-.52-.27-1.09-.4-2.5-.92a16,16,0,0,0,1.66,2.51q12.3,11.4,24.66,22.73c2,1.84,4.09,3.57,6.14,5.36a134.07,134.07,0,0,0,27.06,18q10.43,5.38,20.9,10.69c2.13,1.09,4.34,2,6.51,3,1.42.66,2.83,1.34,4.51,2.14a19.27,19.27,0,0,1-1.29,2.71,231,231,0,0,1-17.56,22.13,4.17,4.17,0,0,1-5.52,1.18c-7-3.21-14-6.16-20.93-9.51A236,236,0,0,1,957.78,1203c-18.92-13.5-35.43-29.35-47.94-49.07a139.27,139.27,0,0,1-20.9-56.66c-.29-2.16-.86-4.4-.07-6.81a12.74,12.74,0,0,1,2.56-1c3.62-.63,7.27-1.12,10.89-1.73a3.92,3.92,0,0,1,3.49,1.11c10.65,9.64,23.11,16.54,35.74,23.07,14.62,7.55,29.52,14.56,44.8,20.69a170.09,170.09,0,0,0,42.06,11.09,136.8,136.8,0,0,0,34.9,0C1064.24,1143.65,1065.17,1143.62,1066.72,1143.5Z" transform="translate(-10.2 -12.13)"/>
          <path d="M260.75,899.4c1.07.14,2.17.22,3.24.44A142.37,142.37,0,0,0,299.71,903a191.11,191.11,0,0,0,31.78-4.33c19.88-4.31,39.06-10.88,58.09-18a301.39,301.39,0,0,0,48.27-23.31,256,256,0,0,0,33.48-24,403.11,403.11,0,0,0,48.21-48.6c8.17-9.63,16.24-19.33,23.6-29.59a177.69,177.69,0,0,0,17.47-30.25c.58-1.29,1.32-2.52,2-3.88a8.06,8.06,0,0,1,2,0q13.38,3.78,26.73,7.64a5.2,5.2,0,0,1,1.13.6c.74,1.4-.21,2.23-.82,3.1-12,17.15-24.1,34.22-36.77,50.88-11.91,15.65-24.18,31-37.12,45.79-9.37,10.71-19.18,21-30.26,30-8.93,7.25-18.06,14.28-28.16,19.88A212.16,212.16,0,0,1,425.22,894c-11.18,3.85-22.34,7.73-33.61,11.29-19.66,6.2-39.53,11.7-59.91,15.06a187,187,0,0,1-24.76,2.73c-5.27.16-10.54.36-15.8.71a10.68,10.68,0,0,1-8.64-3.14c-6.63-6.25-13.47-12.26-20.22-18.37C261.47,901.59,260.42,901,260.75,899.4Z" transform="translate(-10.2 -12.13)"/>
          <path d="M434.84,669.18a6.21,6.21,0,0,1,1.25.4c19.15,10.32,39.19,18.73,59,27.57.11.05.15.25.33.59-.55,1.21-1.89,1.48-3,1.87-5,1.72-10,3.34-15,5-7.58,2.49-15.26,4.74-22.74,7.52a319.5,319.5,0,0,1-71.23,16.71c-12.07,1.38-24.18,2.21-36.35,2.38a484.51,484.51,0,0,1-58.88-2.75c-13-1.41-26-3.36-38.91-5.49q-20.12-3.33-39.89-8.29c-14.61-3.66-28.83-8.42-42.21-15.45-3.25-1.71-6.45-3.54-9.51-5.55-4.41-2.89-8.68-6-13-9a10.93,10.93,0,0,1-5-8.25c-.51-5.08-1.54-10.1-2.3-15.16a24.7,24.7,0,0,1,0-3.16,13.44,13.44,0,0,1,1.94,1.19c11.11,10.38,24.45,16.77,38.74,21.31,8.68,2.75,17.46,5.18,26.26,7.52s17.95,4.62,27,6.69c7.78,1.78,15.6,3.47,23.47,4.81,9.3,1.58,18.63,3,28,4a286.64,286.64,0,0,0,66.5,0c7.13-.88,14.23-2.11,21.3-3.35,11.45-2,22-6.51,32.39-11.61a179.63,179.63,0,0,0,27.72-17.07c1-.76,2.09-1.47,3.16-2.16A3.32,3.32,0,0,1,434.84,669.18Z" transform="translate(-10.2 -12.13)"/>
          <path d="M651.36,521.1c-1.38-1.82-1.13-3.47-1.19-5-.28-8-.5-16-.8-24-.23-6.07-.54-12.14-.83-18.21a4,4,0,0,0-.87-2.58c-.27,3.79-.66,7.58-.81,11.38-.41,11.19-.72,22.38-1.1,33.57,0,1.41-.23,2.82-.35,4.19-.61.3-1,.7-1.44.67-7.88-.78-15.39-2.76-22.12-7.11-5.13-3.32-8.63-8-11.25-13.44a93.55,93.55,0,0,1-5.13-14.44c-1.66-5.68-3.19-11.41-5.92-16.7a28,28,0,0,0-3.32-5.25,11.6,11.6,0,0,0-18.62.72,14.7,14.7,0,0,0-1.61,15,20.39,20.39,0,0,0,8.38,9.6c1.5.91,3.11,1.63,4.67,2.44s3.13,1.6,4.67,2.44c1.16.63,2.18,1.42,2,3a3.08,3.08,0,0,1-3.1,2.48,14.54,14.54,0,0,1-3.77-.37c-18.84-3.85-33.5-20.79-32.59-43.19a29.39,29.39,0,0,1,3.28-13.38c3.76-6.79,9.44-10.7,17.24-11.32a31.49,31.49,0,0,1,10.91,1.17c5.74,1.6,11,4.27,16.36,6.81A159.12,159.12,0,0,0,627.65,449a69.44,69.44,0,0,0,38.79.5c8.67-2.4,16.85-6,25-9.67,4.66-2.1,9.3-4.27,14-6.2a29.41,29.41,0,0,1,14.12-2c8,.75,13.68,5,17.21,12.06a29.76,29.76,0,0,1,2.91,12.49,43.38,43.38,0,0,1-5.33,23.09c-6.22,11.08-15.79,17.78-28.2,20.44a6.2,6.2,0,0,1-4.66-.42c-1.89-1.12-2.15-2.95-.34-4.19s3.61-2,5.42-3c2.24-1.23,4.67-2.2,6.67-3.74,5.42-4.14,8.4-9.6,7.65-16.61-.59-5.36-3.3-9.26-8.48-11.2a11.08,11.08,0,0,0-12.25,3,26.65,26.65,0,0,0-5.48,9.49c-2,6.07-3.87,12.18-5.78,18.28a59.84,59.84,0,0,1-5.2,12.33,31.43,31.43,0,0,1-16.1,13.71,64.84,64.84,0,0,1-13.87,3.69A16,16,0,0,1,651.36,521.1Z" transform="translate(-10.2 -12.13)"/>
          <path d="M15.94,811.76c-.45-3-1-5.94-1.32-8.93-1.06-10.66-2.25-21.31-3-32a654,654,0,0,1-.27-82.47c.14-2.39.48-4.77.81-7.14,1.53-11.24,2.78-22.52,5-33.67a108,108,0,0,1,24.57-50.75c6.72-7.75,14.08-14.84,21.5-21.88,7-6.6,14-13.12,20.82-19.86a156.43,156.43,0,0,0,18.87-22.31,118.34,118.34,0,0,0,10.43-19.4c1.69-3.79,3.52-7.53,5.33-11.27a20.44,20.44,0,0,1,1.74-2.39c0,2.17.08,3.55,0,4.92-.89,13.72-1.89,27.43-2.68,41.15-.46,8-.7,16-.79,24a8,8,0,0,1-3.21,6.51c-8,6.85-16,13.74-23.81,20.84C80.6,605.6,71.37,614.23,63,623.72a131,131,0,0,0-18,26.49A154.55,154.55,0,0,0,33.12,679.5c-.2.73-.31,1.48-.53,2.57,1.75-.62,2.08-1.9,2.66-2.93a248.28,248.28,0,0,1,15-23.93,165.49,165.49,0,0,1,33-34,130.89,130.89,0,0,1,27.88-16.75c1.57-.69,3.09-1.68,5-1.37.26.49.63.88.65,1.3.37,6.21.54,12.42.45,18.83-4,2.3-7.87,4.6-11.79,6.7-8.46,4.53-16.78,9.28-24.78,14.59a67.14,67.14,0,0,0-18,17.05c-4.72,6.64-9.45,13.28-14,20.06a126.14,126.14,0,0,0-17.78,41.16c-3.46,14.63-6.53,29.34-8.61,44.23-1.16,8.23-2.11,16.49-3.13,24.74-.82,6.65-1.6,13.32-2.4,20Z" transform="translate(-10.2 -12.13)"/>
          <path d="M26.42,867.28c-2.05-4.14-6.23-24-6.28-30,1.33-1.34,2.83-3,4.46-4.47A287.39,287.39,0,0,0,50.52,805.2a330,330,0,0,0,24.63-33.59,263.3,263.3,0,0,0,20.74-38.86c9.1-21.33,16.69-43.21,23.73-65.3.48-1.49,1.06-3,1.83-5.08a9.13,9.13,0,0,1,1.14,2c1.31,7.56,2.61,15.12,3.82,22.69a19,19,0,0,1,.06,4.76c-1.61,15.91-3.77,31.74-6.72,47.46-2.75,14.61-6,29.09-10,43.4a404.8,404.8,0,0,1-16.13,45.11c-10.17,24.5-21.43,48.52-32.45,72.64-4.71,10.31-9.75,20.48-14.67,30.7a14.83,14.83,0,0,1-1.17,1.78c-1.35-.16-1.4-1.12-1.63-1.79-1.34-3.93-2.69-7.86-3.9-11.83-2.37-7.8-4.6-15.63-7-23.42a8.23,8.23,0,0,1,1.1-7.63,427.33,427.33,0,0,0,23-38.71c4.8-9.2,9.25-18.59,13.81-27.91a31.07,31.07,0,0,0,1.49-4.05c.08-.23-.12-.56-.25-1.06-1.56.74-2.35,2.14-3.28,3.38A476.11,476.11,0,0,1,37.38,856.8c-2.83,3-5.74,6-8.67,9A14.23,14.23,0,0,1,26.42,867.28Z" transform="translate(-10.2 -12.13)"/>
          <path d="M348.88,610.92a88.09,88.09,0,0,1-8.85,1c-7.19,0-14.39-.15-21.58-.28-1.75,0-3.51-.19-5.27-.26-10.86-.46-21.73-.75-32.58-1.43a223.74,223.74,0,0,1-29.5-3.5c-1.69-.34-3.38-1-5.66-.48.74.63,1.11,1.15,1.61,1.35,3.55,1.43,7.08,2.94,10.72,4.15a260.5,260.5,0,0,0,29.64,7.81c7,1.44,14,3.18,21,4.75a290,290,0,0,0,49.87,6.62c4.63.22,9.26.63,13.89.69a10.92,10.92,0,0,1,6.63,2.35c10.63,8,21.75,15.2,33,22.15,2.59,1.59,5.23,3.1,7.84,4.65a6.72,6.72,0,0,1,2.65,2.5,21.53,21.53,0,0,1-2.58.35c-9.92.07-19.82-.13-29.72-.86-11.49-.84-22.87-2.47-34.21-4.36A396.78,396.78,0,0,1,317,649.55c-12.64-3.45-25.29-6.9-37.8-10.8-11-3.42-21.78-7.38-32.61-11.23a429.88,429.88,0,0,1-43.31-18.19c-9.36-4.52-18.43-9.58-27.33-14.94a248.32,248.32,0,0,1-39.46-29.57c-5.29-4.83-4.38-4.33-4.28-9.83,0-1.28.1-2.55.19-3.83a6.9,6.9,0,0,1,.37-1.22,9.91,9.91,0,0,1,2,.65,17.17,17.17,0,0,1,2.32,1.69c9.43,7.61,20,13.1,31.29,17.44A386.7,386.7,0,0,0,230,587.86a233.33,233.33,0,0,0,41.92,4.24c17.44.37,34.86-.19,52.28-.93a21.31,21.31,0,0,0,2.4-.09c2.44-.37,4.19.6,5.9,2.36,4.34,4.46,8.91,8.71,13.34,13.1C346.94,607.62,348.45,608.44,348.88,610.92Z" transform="translate(-10.2 -12.13)"/>
          <path d="M1025.82,648c-1.7-.86-3.3-.43-4.87-.27-4.14.42-8.27.89-12.4,1.34-.8.09-1.59.22-2.39.24-2.53,0-3.73-1-4.25-3.58,0-.15,0-.31-.07-.47-.63-4.88-1.38-7.51,6-8.12,4.62-.38,9.21-1.07,13.8-1.72,3.51-.51,4.7-1.82,4.95-5.31a34.81,34.81,0,0,0,0-4.79c-.19-3.15-1.58-4.58-4.72-5a17.24,17.24,0,0,0-2.39-.12l-17.27,0c-.48,0-1,0-1.44,0-3.11.28-4.68,1.76-5,4.78-.12,1.26-.07,2.55-.07,3.83,0,9.28,0,18.55,0,27.83a164.42,164.42,0,0,1-2,27.24,135.29,135.29,0,0,1-12.55,38.62,22.81,22.81,0,0,1-12.56,11.26c-6.87,2.73-14,3.49-21.12,1.16-9.72-3.18-15.83-9.82-18.07-19.92-1.61-7.2,2.87-13.95,7.4-17,4.81-3.27,8.79-.1,9.68,4.33a6.68,6.68,0,0,1-.57,3.21,2,2,0,0,1-2.31,1.32,4,4,0,0,1-1.71-1.46c-.27-.34-.21-.92-.37-1.37-.86-2.39-2.49-3.2-4.81-2.41a7.81,7.81,0,0,0-4.89,8.87,18.5,18.5,0,0,0,9.82,12.91c7.56,3.94,16.08,2.73,22.6-3.39,2.61-2.46,4.06-5.73,5.57-8.89a109.52,109.52,0,0,0,9-29.22,158.6,158.6,0,0,0,2.1-26.74q0-17.28,0-34.55c0-2.4,0-4.8.1-7.19.15-4.62,1-5.53,5.77-5.59,7.19-.09,14.39,0,21.59,0,4.48,0,8.95,0,13.43,0,6.73,0,7.64-1,7.66-7.89,0-5,0-9.92,0-14.88a21.86,21.86,0,0,1,.17-3.34,3.17,3.17,0,0,1,3.21-3c2.55-.18,5.12-.14,7.67-.13a3.89,3.89,0,0,1,3.88,3c.2.6.32,1.24.55,1.83a3.81,3.81,0,0,0,3.23,2.53,36.37,36.37,0,0,0,4.31.2q21.11,0,42.22,0a42.44,42.44,0,0,1,4.79.16,3.25,3.25,0,0,1,3.15,3.08,25.59,25.59,0,0,1,0,5.25,3.31,3.31,0,0,1-3.11,3.14,46.25,46.25,0,0,1-5.27.16h-41.26a25.33,25.33,0,0,0-4.78.2c-3.42.66-5,5.43-2.56,8a5.47,5.47,0,0,0,2.91,1.41,29.28,29.28,0,0,0,4.78.18q25.68.07,51.34.12a24.45,24.45,0,0,1,3.83.18,3.3,3.3,0,0,1,3,3.24,14.66,14.66,0,0,1-.16,4.29c-1.25,5.62-2.63,11.2-4,16.79a9.77,9.77,0,0,1-.7,1.79,3.11,3.11,0,0,1-3.45,2,42.16,42.16,0,0,1-7-1.68c-2.11-.75-2.84-2.46-2.31-4.64.34-1.4,1-2.73,1.28-4.12a4.2,4.2,0,0,0-3.5-5.31,23.14,23.14,0,0,0-3.82-.25q-19.43,0-38.86,0a24.66,24.66,0,0,0-4.3.28,4.17,4.17,0,0,0-3.67,3.87,14.37,14.37,0,0,0,0,3.82c.59,3.85,2.68,4.56,5.19,4.33,1.6-.15,3.19-.24,4.78-.43l26.67-3.23a13.57,13.57,0,0,1,1.43-.14c2.31,0,3.67.84,4.28,3a24.35,24.35,0,0,1,.78,4.24c.26,2.82-.67,4.17-3.56,4.7s-6,.83-9,1.18q-12.86,1.49-25.73,2.94l-.48,0c-1.51.27-3.44-.15-4.1,1.78a5.74,5.74,0,0,0,2.79,6.54,11.88,11.88,0,0,0,3.19,1,22.07,22.07,0,0,0,3.81.29q15.36,0,30.71-.09a19.64,19.64,0,0,0,3.34-.28,6.53,6.53,0,0,0,5.43-4.81c.42-1.37.61-2.82,1-4.19.75-2.45,2.2-3.4,4.72-2.81a44.63,44.63,0,0,1,6.36,2.09,3.7,3.7,0,0,1,2.45,4.21A36.81,36.81,0,0,1,1102,660a8.14,8.14,0,0,1-4.84,4.41,29.79,29.79,0,0,1-5.54,1.4,67.49,67.49,0,0,1-7.66.33q-19,.06-37.9.05c-4.16,0-8.3-.2-12.14-2.22-4.32-2.27-6.79-5.66-7.14-10.57C1026.61,651.55,1026.94,649.57,1025.82,648Zm-38.65,33.43a11.42,11.42,0,0,0-1.09,1.79c-1.43,4.24-2.74,8.51-4.24,12.72C980,701.19,978,706.41,976,711.62a36.39,36.39,0,0,1-6.3,10.13,20.69,20.69,0,0,1-13,7.41c-2.32.35-4.61.89-7.43,1.44,9.39,2.68,18.61-.25,24.39-7.55A44.08,44.08,0,0,0,980,712.37a121.39,121.39,0,0,0,7.33-27.72A19.55,19.55,0,0,0,987.17,681.42Zm45.72-52.15-.79,0a4.79,4.79,0,0,0-.38,1.28q-.3,8.63-.54,17.25a19.23,19.23,0,0,0,0,2.4c.78,8.66,4.77,11.39,11.57,12.13a55.53,55.53,0,0,0,6.7.28c9.27-.13,18.54-.33,27.8-.51,1.06,0,2.11-.12,4.23-.25-3.7-1.55-6.58-1.43-9.39-1.51-7.19-.19-14.38-.16-21.57-.36-3-.08-6-.4-9-.78-3.89-.49-6.5-2.55-7.22-6.56a38.07,38.07,0,0,1-.67-5.21c-.21-5.11-.3-10.22-.47-15.33C1033.13,631.13,1033,630.2,1032.89,629.27Zm69.73-5.27.82.11a22.82,22.82,0,0,0,1.42-2.42,14.51,14.51,0,0,0,.81-2.73c.92-4.14-.51-6.4-4.6-7.3a11.81,11.81,0,0,0-1.88-.26,60.94,60.94,0,0,0-14.71.92c-.11,0-.14.41-.25.75.7.11,1.31.24,1.93.28q6.16.49,12.35.94c4.67.33,5.45,1.32,4.69,6C1103,621.56,1102.81,622.78,1102.62,624Z" transform="translate(-10.2 -12.13)"/>
          <path d="M637.77,148.16c1.72-7.41,3.31-14.22,4.88-21-1.22-1.64-2.92-1.54-4.46-1.64-6.87-.41-13.73-.81-20.6-1.09-16.05-.66-31.94,1-47.77,3.43-5.32.82-10.65,1.56-16.09,2.13.13-1.75,1.43-1.93,2.34-2.42A162.11,162.11,0,0,1,578,118a119.06,119.06,0,0,1,21.72-5.83,161.29,161.29,0,0,1,33-2c9.91.42,19.8.3,29.72,0,14.57-.47,29.09.31,43.29,4.11a167.54,167.54,0,0,1,34.74,13.64,16.23,16.23,0,0,1,1.84,1.3c-.23,1.21-1,.81-1.52.74-12.37-1.56-24.73-3.24-37.11-4.66s-24.91-1-37.38-.26q-4.78.27-9.56.74a20.44,20.44,0,0,0-3.1.8,5.38,5.38,0,0,0-.24,1.63c1.58,6.5,3.2,13,4.85,19.68a25.3,25.3,0,0,0,3.32.53c2.71.09,5.43,0,8.15.07a126.42,126.42,0,0,1,53.72,12.63c2.73,1.32,5.42,2.74,8.1,4.16a14.32,14.32,0,0,1,1.93,1.66c-1.84,0-2.89.09-3.91,0-5.88-.66-11.77-1.23-17.62-2.09a169.06,169.06,0,0,0-25.32-1.93c-7.19,0-14.39.22-21.58.36a12.16,12.16,0,0,0-5.46,1c-1.15,4.17-2.58,17.74-2.25,21,.88,1.21,2.25,1,3.49,1.12A65,65,0,0,1,674,188.66a62,62,0,0,1,16,7.6,39,39,0,0,1,3.64,3.08,10.28,10.28,0,0,1-2.53.89c-4.32.09-8.63.14-13,.09a158.88,158.88,0,0,0-20.11,1c-.62.07-1.24.26-1.95.41-1.64,2.93-1.15,6.23-1.61,9.34s-.78,6-1,9.06-1,6.28-.62,9.67c2,.58,3.82,1.06,5.62,1.63a18.24,18.24,0,0,1,9.63,6.78,15.56,15.56,0,0,1,1.09,2.32c-5.79,3-12.24,3.14-18,5.37-1.27,2.42-1.11,5-1.52,7.54-.37,2.32-.1,4.79-1.69,7.29a7,7,0,0,1-1-1.75c-.46-3-.81-6-1.25-9-.18-1.25-.5-2.48-.76-3.74-3-1.5-6.22-1.92-9.28-2.75s-6.28-1.06-9.08-3.28c3.38-6.69,9.7-8.49,16.14-10.25a15.9,15.9,0,0,0,.27-2.94c-.78-8.26-1.63-16.5-2.47-24.95a18.24,18.24,0,0,0-3.32-.85c-6.86-.34-13.73-.65-20.6-.87-3.67-.12-7.35,0-11-.05a17,17,0,0,1-2.65-.44c.13-1.83,1.39-2.43,2.39-3.11a55.35,55.35,0,0,1,22.83-9.5c3.3-.51,6.63-.86,10.16-1.31a9.45,9.45,0,0,0,.57-2.73c-.61-6-1.33-12.07-2-18.1,0-.29-.32-.54-.49-.82-1.37-1-3-1-4.6-1-11.66-.39-23.34-.9-35,0-6.37.51-12.7,1.44-19,2.2-4.13.5-8.25,1.06-12.38,1.55a17.28,17.28,0,0,1-2.39-.1c.55-.76.75-1.35,1.16-1.57,14.75-7.95,30.19-13.79,47-15.73a193.79,193.79,0,0,1,21.53-1.2C634.24,148.41,635.81,148.26,637.77,148.16Z" transform="translate(-10.2 -12.13)"/>
          <path d="M706.32,230.42c-.23-1.54,1-2.25,1.87-3.14a161.81,161.81,0,0,1,23.46-20.44,236.61,236.61,0,0,1,27.28-16.94c7.79-4.13,16.14-6.9,24.56-9.47,5.5-1.68,11-3.43,16.4-5.34a33.12,33.12,0,0,0,6.41-3.21c4-2.5,4.66-4.5,3.17-8.86a11.45,11.45,0,0,0-.7-1.79c-4.13-7.58-8.19-15.2-15-20.86-4.43-3.66-8.67-7.57-13-11.29-1.18-1-2.2-2.34-4.28-2.54a8.51,8.51,0,0,0,.25,1.83c1,2.69,2.16,5.33,3.16,8a40.66,40.66,0,0,1,1.95,20.32,23.72,23.72,0,0,1-8.14,14.79c-4,3.54-8.74,5.87-13.6,8-5.13,2.21-10.35,4.25-15.4,6.63a129,129,0,0,0-35.84,24.53,4.07,4.07,0,0,1-1.92,1.11,33.84,33.84,0,0,1,6-7.82,123.15,123.15,0,0,1,26.08-21c6.15-3.73,12.52-7.09,18.77-10.66,1.94-1.1,3.84-2.28,5.71-3.5,7.53-4.92,9.56-12,7.94-20.47a41.55,41.55,0,0,0-5.68-13.65c-4.26-7-9.72-13.08-15-19.3-.72-.86-1.56-1.62-2.22-2.52a7.83,7.83,0,0,0-4.32-2.78,185.32,185.32,0,0,0-37.51-7.67c-15-1.53-30-2.24-45-2.8-1.56,0-3.12-.19-4.7-.29.12-1.67,1.41-1.42,2.17-1.57,6-1.17,11.91-2.45,17.92-3.29a204.08,204.08,0,0,1,38.27-1.92,142.86,142.86,0,0,1,55.37,14.18c3.45,1.66,6.83,3.49,10.22,5.27a4.21,4.21,0,0,0,4.5-.07c8.12-4.8,16.44-9.28,24.42-14.29,11.36-7.13,20.72-16.51,28.9-27.08a142.56,142.56,0,0,0,12.84-19.64,124.77,124.77,0,0,0,12.14-33.71c.33-1.55.66-3.11,1.06-5a9.58,9.58,0,0,1,1.38,5.38,125.13,125.13,0,0,1-1.62,28.67,150.27,150.27,0,0,1-13,40c-5.11,10.35-10.94,20.29-18.56,29-5.16,5.89-10.83,11.32-16.26,17-1,1-1.94,2-3.09,3.26a29.05,29.05,0,0,0,2.2,2.68,211.41,211.41,0,0,1,15.68,16.83,139.94,139.94,0,0,1,10.71,14.66c-1,1-1.54.11-2-.3-4.44-3.67-8.82-7.4-13.25-11.07-2.47-2-5-4-7.51-6-.73-.57-1.57-1-2.86-1.82a9.21,9.21,0,0,0,.12,2.18c.93,2.54,2.11,5,2.88,7.61,2.55,8.56.33,14.84-8.79,19.86a52.69,52.69,0,0,1-10.74,4c-5.06,1.46-10.2,2.7-15.35,3.79-13.59,2.86-26.21,8.14-38.34,14.76-12.81,7-25.09,14.71-35.93,24.57-1.28,1.17-2.78,2.1-4.17,3.14Z" transform="translate(-10.2 -12.13)"/>
          <path d="M589.22,212c-4.66-3.88-8.86-7.57-13.26-11a137.09,137.09,0,0,0-33.29-18.78,146.8,146.8,0,0,1-14.39-6.54c-10.95-5.85-15.26-15.39-14.49-27.51a45.68,45.68,0,0,1,3.5-14.87c.87-2,1.69-4.12,2.48-6.06a1.33,1.33,0,0,0-2.21-.16c-6.16,5.34-12.33,10.68-18.4,16.11a21,21,0,0,0-3.67,4.41c-3,4.73-6,9.43-8.58,14.39s-1.74,6.91,2.92,9.94a50.75,50.75,0,0,0,12.73,5.49c5.94,1.88,11.91,3.66,17.85,5.54a111.54,111.54,0,0,1,22.69,10.23c10.63,6.21,21.09,12.75,30.44,20.81,5.44,4.69,10.54,9.78,15.76,14.73a8.34,8.34,0,0,1,1,1.93,6.56,6.56,0,0,1-1.68-.67,157.2,157.2,0,0,0-27.88-21c-12.07-7.27-24.41-14-38-18-6.43-1.89-13-3.39-19.5-5-6.07-1.47-12.14-2.88-17.73-5.8-.14-.07-.29-.13-.43-.21-9.29-4.86-11.52-12.19-8.21-21.22.92-2.52,2-5,3-7.37-1.1-1.08-1.7-.35-2.27.11q-9.13,7.38-18.23,14.81c-1.73,1.41-3.39,2.88-5.12,4.35-1-.91-.11-1.48.22-2A124.6,124.6,0,0,1,468.73,150c3.77-4.13,7.75-8.06,11.62-12.1.65-.68,1.21-1.44,2-2.34a32.08,32.08,0,0,0-2.11-2.64c-3.4-3.38-6.88-6.68-10.27-10.07-9.69-9.71-17.28-20.94-23.62-33a150.72,150.72,0,0,1-14.19-39.61A123.46,123.46,0,0,1,430,14.9c.06-.72-.17-1.64,1.08-2.21.22.74.47,1.4.62,2.09,1.55,6.86,3,13.74,5.55,20.34,9.29,24,23.79,44.09,44.5,59.47,4.73,3.51,10,6.26,15.08,9.31,3.84,2.31,7.73,4.51,11.58,6.79,4.18,2.48,4.52,2.63,8.78.23a144.76,144.76,0,0,1,74.49-18.61,241.24,241.24,0,0,1,43.77,5c1.07.22,2.1.59,3.16.89-.46,1.55-1.58,1.22-2.44,1.26-6.86.33-13.74.52-20.6.92-11.18.66-22.36,1.27-33.45,2.84a211.68,211.68,0,0,0-29,6.31,12.93,12.93,0,0,0-7,4.7c-3,3.91-6.37,7.59-9.54,11.4a68,68,0,0,0-9.68,15.38,27.9,27.9,0,0,0-2.56,15.87,14.94,14.94,0,0,0,4.81,9.13,38,38,0,0,0,8.18,5.82c8.48,4.47,17,8.91,24.89,14.39a133,133,0,0,1,24,21.2c1,1.07,1.8,2.24,2.66,3.39C589.11,211.06,589.08,211.41,589.22,212Z" transform="translate(-10.2 -12.13)"/>
          <path d="M777,465.47a40.83,40.83,0,0,1,14.62-14.56,52.31,52.31,0,0,1,17.34-5.3c4.42-.64,8.9-.95,13.36-1.23,12.13-.75,24.29-1,36.32-2.91a82.52,82.52,0,0,0,23-6.63c12.15-5.77,18.3-15.56,19.25-28.72a42.47,42.47,0,0,0-.59-10.5c-2-10.85-4.25-21.65-6.36-32.48-1.71-8.79-3.46-17.57-5-26.38-2.62-14.79-5.27-29.58-7.57-44.42-2.85-18.32-5.18-36.72-6.53-55.23-.11-1.41,0-2.84,0-4.27,1.45-.15,1.56,1.07,1.88,1.8,2.27,5.11,4.59,10.21,6.6,15.42,4.82,12.53,9.76,25,14.13,37.72,4.68,13.59,9,27.33,13.05,41.12,3.93,13.34,7.52,26.78,11,40.26,2,7.73,3.55,15.58,5,23.44a60.77,60.77,0,0,1-1.32,27.12c-4.58,16.73-15,28.66-30.84,35.76-9.93,4.44-20.44,6.3-31.23,6.75-11.71.49-23.31-.73-34.88-2.42-5.54-.8-11.08-1.61-16.63-2.31-6.23-.78-12.46-1-18.57.8a53.82,53.82,0,0,0-7.13,2.7C782.94,462.31,780.19,463.85,777,465.47Z" transform="translate(-10.2 -12.13)"/>
          <path d="M420.15,233.41c1.27,4,.86,7.8.43,11.55-1.61,14-3.29,27.94-5.2,41.87-1.3,9.49-3,18.94-4.57,28.39-1.52,9-3.1,18-4.8,26.9-2.42,12.72-5,25.4-7.46,38.1-1,5.18-2.05,10.35-2.93,15.55a43.47,43.47,0,0,0,.15,15.26c2.2,11.86,9.18,19.76,20,24.53,9.17,4.05,18.9,5.92,28.81,6.79,9.55.84,19.12,1.43,28.69,2a127.72,127.72,0,0,1,20.88,2.76c10.4,2.36,18.15,8.32,24.16,16.86.08.11,0,.31.05.48-.54.72-1.14.27-1.64,0-2-1-3.94-2.11-5.91-3.17a35.78,35.78,0,0,0-17.51-4.3,78.79,78.79,0,0,0-9.08.59c-7.77,1-15.52,2.14-23.28,3.2a150.1,150.1,0,0,1-29.65,1.42c-11.75-.73-23.12-3.06-33.64-8.66A51.52,51.52,0,0,1,374.32,429a60.32,60.32,0,0,1-4.72-36.05c1.41-8.19,3.17-16.32,5.17-24.38,3.07-12.41,6.13-24.83,9.81-37.06,4.64-15.45,9.8-30.76,14.89-46.07a516.94,516.94,0,0,1,19.17-49.09C419.09,235.31,419.65,234.37,420.15,233.41Z" transform="translate(-10.2 -12.13)"/>
          <path d="M520.7,227.52c-2.66-2.85-5.52-3.52-8.24-4.25A46,46,0,0,0,504,221.8c-8.45-.63-16.91-1-25.34.5a88.92,88.92,0,0,0-15.21,4.25c-2.87,1.06-5.72,2-8.85,1.71-2.86-.25-5.31-1.11-6.67-4,.29,0,.61-.1.75,0,2.75,2.36,5.82,2.41,9,1.17a44,44,0,0,0,4.76-2.25,83.29,83.29,0,0,1,28-9.38,177.37,177.37,0,0,1,18.14-1.46,43.3,43.3,0,0,1,24.19,6.52c2.6,1.57,5.29,3,7.73,4.82a18.25,18.25,0,0,0,9.75,3.5,93,93,0,0,1,17.9,3.28,73.27,73.27,0,0,1,25.62,12.63,55.57,55.57,0,0,1,16.84,21.77,81,81,0,0,1,6.32,25c1.52,15.52-.49,30.61-4.56,45.53-3.12,11.41-6.64,22.71-10.75,33.8-2.32,6.29-5.15,12.39-7.75,18.58-2.15,5.15-4.36,10.29-5.6,15.78a29.54,29.54,0,0,0-.8,10.46,14.19,14.19,0,0,0,5.4,9.81l5.82,4.51a18.88,18.88,0,0,1-15.1-11.07c-2.41-5.83-2.36-11.85-1.46-17.92,1.14-7.61,3.45-14.93,5.69-22.27,1.77-5.8,3.27-11.7,4.65-17.6,2.07-8.87,4.1-17.75,5.83-26.69a136.76,136.76,0,0,0,2.75-30.49,81.15,81.15,0,0,0-5.23-27.16c-4.23-10.87-11.84-18.42-22.34-23.18-15.87-7.19-32.48-8.95-49.68-6.85-8.74,1.07-16.71,4.19-24.39,8.2-5.8,3-11.44,6.38-17.1,9.66a148,148,0,0,1-22.79,11.17,30.13,30.13,0,0,1-12.66,2.17c-7.87-.57-13.58-4.23-16.69-11.65a32.81,32.81,0,0,1-2.55-11.16,65.57,65.57,0,0,1,1-15.76A201.58,201.58,0,0,1,436.14,209c.85-2.38,1.88-4.7,2.82-7,1.33.28.79,1,.69,1.49-2.37,11.95-3.23,24.06-3.86,36.2a47.08,47.08,0,0,0,1,12.87,42.3,42.3,0,0,0,2.46,7.24c1.24,2.93,3.7,4.28,6.82,4.47a14.85,14.85,0,0,0,6.53-1.3,103.16,103.16,0,0,0,18-10c4.14-2.73,8.17-5.62,12.3-8.35,7.87-5.22,15.88-10.21,24.91-13.22,3.32-1.11,6.73-2,10.1-2.95C518.63,228.25,519.33,228,520.7,227.52Z" transform="translate(-10.2 -12.13)"/>
          <path d="M697.54,428c1.5-1.15,2.93-2.4,4.5-3.45,5.25-3.5,6.82-8.67,6.55-14.57a42.59,42.59,0,0,0-3-13.52c-1.75-4.47-3.51-8.93-5.52-13.28a225.69,225.69,0,0,1-10.63-28.25c-2.82-9.17-5.56-18.38-7.74-27.7a109.94,109.94,0,0,1-1.08-47.59,73.8,73.8,0,0,1,6-17.65,54.14,54.14,0,0,1,16.14-19.32c10-7.65,21.45-11.91,33.72-14.17,3.92-.72,7.89-1.25,11.86-1.71a12.31,12.31,0,0,0,5.31-2c3.51-2.22,7-4.42,10.63-6.5a43.52,43.52,0,0,1,22.44-6c13,.09,25.84,1.75,38,6.77,3.4,1.4,6.64,3.14,10,4.72,1.3.62,2.57,1.32,3.91,1.81a8.39,8.39,0,0,0,7-.18c.52-.26,1.09-.44,2.32-.93-1.58,2.52-3.26,3.43-5.41,3.7a20,20,0,0,1-9.37-1.5A88.54,88.54,0,0,0,815.06,222a95.09,95.09,0,0,0-29.6.76c-2.79.49-5.43,1.81-8.1,2.87-.63.25-1.08,1-1.93,1.73a10.89,10.89,0,0,0,2,.94C790.55,231,802,237.13,813,244.59c8,5.5,16,11.11,24.67,15.65a46.93,46.93,0,0,0,6.54,3,19.77,19.77,0,0,0,5.62,1,7,7,0,0,0,6.88-4.32,28.42,28.42,0,0,0,3.2-12c.1-4.47.26-9,0-13.42-.7-10.68-1.51-21.37-3.7-31.88a4.16,4.16,0,0,1,.26-.87,11.12,11.12,0,0,1,1.26,1.79c4.18,9.76,6.63,20,8.85,30.34A80.23,80.23,0,0,1,868.44,252,34.8,34.8,0,0,1,866,264.11c-3,7.62-8.68,11.6-16.81,12.14A28.62,28.62,0,0,1,837,274.33a137,137,0,0,1-19.07-9c-6.94-4-13.91-7.87-20.86-11.82-14.6-8.3-30.35-10.44-46.82-8.85a90.47,90.47,0,0,0-26,6.44c-13.55,5.58-22,15.43-26,29.36a92.69,92.69,0,0,0-3.1,34.67c1.24,13.09,4,25.91,6.93,38.69,1,4.36,1.93,8.75,3.12,13.06,1.62,5.85,3.39,11.65,5.22,17.44a90,90,0,0,1,4,20.68,26.72,26.72,0,0,1-1.48,10.86,17.6,17.6,0,0,1-10.1,10.92c-1.59.67-3.21,1.27-4.82,1.89Z" transform="translate(-10.2 -12.13)"/>
          <path d="M964.73,682.82l-1.62,1c-5.37,3.3-10.94,2.67-15.07-2.11a22.33,22.33,0,0,1-4.14-6.93,45.42,45.42,0,0,1-2.34-10.24,83,83,0,0,1,2.73-30.41A111.57,111.57,0,0,1,967.5,590c13.71-16.09,30.54-27.64,50.78-33.86,16.82-5.16,34-5.67,51.24-2.41a112,112,0,0,1,41.15,16.4c16.14,10.59,28.7,24.4,36.91,41.93a112.91,112.91,0,0,1,9.05,70.15A101.14,101.14,0,0,1,1131.39,733a110.38,110.38,0,0,1-33.23,24.82,111.64,111.64,0,0,1-48.54,11.66,86.29,86.29,0,0,1-20.94-2.17,33.32,33.32,0,0,1-10.13-4.21,20.19,20.19,0,0,1-7.24-8.13,12.8,12.8,0,0,1-.75-10.68c1.61-4.28,4.56-5.82,9.17-5.08,2.82,3.21,1.34,6.31-.35,9.72l-2.63.89c-.94,3.18.49,5.34,2.8,7.07a14.47,14.47,0,0,0,6.21,2.39,104.86,104.86,0,0,0,31.49,1.11,100.41,100.41,0,0,0,32.94-9.65,95.91,95.91,0,0,0,37.53-32.7,98.61,98.61,0,0,0,15.12-34.48,94.3,94.3,0,0,0-.37-43.72c-4.63-18.76-13.71-35.07-27.85-48.34a95.29,95.29,0,0,0-38-21.66,100.29,100.29,0,0,0-27.39-4.35c-13-.28-25.82,1.53-38,6.55-25.73,10.61-43.42,29.26-54.53,54.48a95.27,95.27,0,0,0-8.12,37.22,41.73,41.73,0,0,0,.17,6.23,17.49,17.49,0,0,0,1.46,5,5.35,5.35,0,0,0,5,3.1,2.48,2.48,0,0,0,2.47-1.86c.16-.61.13-1.27.29-1.89.55-2.12,1.81-3.33,4.14-3.09,2.19,5.84,2.19,5.84-.5,11.27l3.11.36Zm73.94-123.59c3.38,0,5.93,0,8.48,0,8.83.06,17.62.83,26.07,3.31a115.56,115.56,0,0,1,38.42,19,95.48,95.48,0,0,1,32.83,45.55,120.38,120.38,0,0,1,5.32,22.33,18.74,18.74,0,0,0,.5,2.34c.15.57.4,1.12,1,2.67,0-2.71.13-4.31,0-5.88a115.92,115.92,0,0,0-6.12-28c-6.67-18.51-18.29-33.12-34.32-44.33a111.07,111.07,0,0,0-24.12-12.62,93.45,93.45,0,0,0-40.9-6A20.94,20.94,0,0,0,1038.67,559.23Z" transform="translate(-10.2 -12.13)"/>
          <path d="M193.72,334.52c6.21,6.65,13.3,12.3,20.48,17.88a211.08,211.08,0,0,0,22.14,15.14c7.86,4.64,16.34,7.92,24.91,11.3-.08,1.19-.09,2.12-.21,3-.42,3.17-.87,6.33-1.31,9.5-.34,2.45-1,3.05-3.5,2.72a75.11,75.11,0,0,1-8-1.5,152.9,152.9,0,0,1-65.37-34.8,90.47,90.47,0,0,1-17.94-22.34,8.14,8.14,0,0,1-1.06-6.82c.73-2.44,1.07-5,1.59-7.5a9.19,9.19,0,0,1,2.78-4.93c1.4-1.31,2.8-2.62,4.17-4,7.35-7.3,16.26-9.07,26.11-7.31a63.68,63.68,0,0,1,17.3,5.59c7.86,3.92,15.57,8.14,23.38,12.18,6.11,3.15,12.18,6.38,18.42,9.24,3.76,1.73,7.81,2.82,11.73,4.19,1.32.46,2.85.5,3.76,1.77-.54,3.62-4.25,13.66-6.19,16.67a34.92,34.92,0,0,1-3.64.18,126.39,126.39,0,0,1-30.12-5.36A241.34,241.34,0,0,1,197.62,335c-1.1-.54-2.26-.95-3.4-1.42Z" transform="translate(-10.2 -12.13)"/>
          <path d="M259.82,453.41c.14.61,8.49,36,8.49,36l-.41,1.2a11.16,11.16,0,0,1-2.1-.37,512.8,512.8,0,0,1-61.13-26.39,192.34,192.34,0,0,1-25.82-15.6,97.84,97.84,0,0,1-16.13-15c-4.47-5.21-8.63-10.68-13-16a7.78,7.78,0,0,1-1.74-7.1c.79-3.59,1.24-7.25,1.89-10.86a16.13,16.13,0,0,1,.88-2.48c1.16.77,2.1,1.29,2.93,2a39.5,39.5,0,0,0,15.49,7.27c11.1,2.82,22.4,3.49,33.78,3.14,6.39-.19,12.78-.53,19.16-1,12.17-.81,24.12-2.71,35.27-7.66,1.62.64,1.17,1.92,1.13,2.94-.18,5.27-.46,10.54-.65,15.81-.07,2.07,0,4.15,0,6.23a29.51,29.51,0,0,1-.32,3,34.37,34.37,0,0,1-3.38.63,181,181,0,0,1-35.9-.71q-8.33-1-16.66-1.95a171.35,171.35,0,0,1-22.11-4.21,4.8,4.8,0,0,0-3,.06,11.71,11.71,0,0,0,1.26,1.09,115.94,115.94,0,0,0,20,10.31c4.28,1.79,8.61,3.43,12.86,5.28a204.8,204.8,0,0,0,39.3,12.16C253.2,451.89,256.46,452.65,259.82,453.41Z" transform="translate(-10.2 -12.13)"/>
          <path d="M1142.74,323.8c-2.82.08-4.72.09-6.62.18-16.14.75-27.76,8.43-35,22.84-.43.85-.78,1.75-1.17,2.62s-.67,1.43-1,2.2c-1.7.11-2.19-1.24-2.94-2.16-6-7.45-11.87-15.05-18.07-22.35-7.75-9.13-15.55-18.23-22.64-27.9-4.64-6.33-9-12.85-11.35-20.43a30.15,30.15,0,0,1-1.19-14.66,22.66,22.66,0,0,1,4.94-10.76c4.66-5.53,10.56-7.51,17.58-6a29,29,0,0,1,13.51,6.93c5.21,4.7,10.3,9.55,15.28,14.49,12.82,12.73,25,26,36.68,39.81q5,5.85,9.81,11.78A36.49,36.49,0,0,1,1142.74,323.8Z" transform="translate(-10.2 -12.13)"/>
          <path d="M198.23,514.55c.88,1.63,2.52,2.36,3.94,3.3A124.42,124.42,0,0,0,222.1,528.3c10.43,4.46,20.88,8.91,31.5,12.91a178.31,178.31,0,0,0,19.73,5.88c7.12,1.79,14.34,3.2,21.56,4.58a8.42,8.42,0,0,1,5.79,3.71c3.48,5,7.17,9.79,10.79,14.67.74,1,1.74,1.87,1.72,3.47a12.82,12.82,0,0,1-2.41,0c-18.28-3.9-36.66-7.37-54.63-12.6a273.69,273.69,0,0,1-57.31-24.13c-16.9-9.47-32.94-20.26-49-31-3.71-2.49-7.41-5-11.22-7.36a4.23,4.23,0,0,1-2.19-4.81c.32-1.88.63-3.75,1-5.95a25.67,25.67,0,0,1,3.31.46c8.94,2.45,17.83,5.1,26.81,7.39,15.18,3.87,30.53,6.93,45.95,9.67,13.86,2.46,27.77,4.58,41.78,5.87,5.89.54,11.8.89,17.7,1.34,1.26.09,2.52.24,3.66.34a83,83,0,0,1,6.86,14.86c-.86,1.29-2.26,1-3.47,1.06a109.53,109.53,0,0,1-26.25-1.87c-7.39-1.37-14.81-2.57-22.19-4-10.37-1.95-20.65-4.25-30.56-8C200.19,514.47,199.35,513.78,198.23,514.55Z" transform="translate(-10.2 -12.13)"/>
          <path d="M528.64,510.88A95.28,95.28,0,0,0,476.9,522a56.77,56.77,0,0,0-5.17,3.46,3.15,3.15,0,0,0-1.22,4.19c1.81,4.27,3.4,8.64,5.46,12.78a80.11,80.11,0,0,0,10.75,16.4c.51.59,1.14,1.07,1.9,1.78a25.45,25.45,0,0,0,2.3-1.68c2.59-2.37,5.08-4.86,7.73-7.17,7.35-6.41,15.82-10.66,26.4-13.18-4.64,2.78-8.45,4.85-12,7.26A54.12,54.12,0,0,0,502.65,555,52,52,0,0,0,494.78,566c.66,2,2.23,3.12,3.74,4.23A74.1,74.1,0,0,0,548,584.89a60.78,60.78,0,0,0,23.2-5.41,101.94,101.94,0,0,0,12.08-6.85,188.66,188.66,0,0,0,27.78-22.75c5.61-5.46,11.35-10.78,17-16.15a10.13,10.13,0,0,1,1.14-.83c.6,1.15-.21,1.9-.63,2.66-8.51,15.47-18.22,30.1-30.88,42.52-8.61,8.45-18.09,15.69-29.64,19.85a80.84,80.84,0,0,1-37.78,4.17,81.72,81.72,0,0,1-27-7.91,80.87,80.87,0,0,1-27-21.82c-8-10-13.2-21.45-16.45-33.8a131.83,131.83,0,0,1-4.27-33.19,155.52,155.52,0,0,1,1.33-23.92c.14-.93.36-1.86.54-2.74a64.12,64.12,0,0,1,18.46-6.84,27.34,27.34,0,0,1,2.82-.51c14.38-1.15,28.42.16,41.83,5.88a22.41,22.41,0,0,1,7.12,4.23l-7.56-1.94a78.41,78.41,0,0,0-37.05-.41c-7.82,1.72-14.5,5.75-20.72,10.65a3.92,3.92,0,0,0-1.6,4.21c1.43,6.23,2.83,12.47,4.34,18.68a29.36,29.36,0,0,0,1.77,4.19c4.06-1.51,7.85-3.13,11.77-4.31a115.63,115.63,0,0,1,12.57-3A93.42,93.42,0,0,1,503.54,508a121.51,121.51,0,0,1,12.94.21A38.16,38.16,0,0,1,528.64,510.88Z" transform="translate(-10.2 -12.13)"/>
          <path d="M773.11,538.84c2.69,1,5.45,1.77,8.07,2.9a70.4,70.4,0,0,1,21.61,14.83c1.34,1.33,2.71,2.63,4,3.88,6.36-4.4,16.1-21.41,19.07-33.09-1.26-2.21-3.47-3.6-5.66-4.78-14.31-7.72-29.54-12-45.89-11.8a44.34,44.34,0,0,1-6.8-.09,25.27,25.27,0,0,1,2.87-1,81.65,81.65,0,0,1,30-.93,98.69,98.69,0,0,1,25.36,6.9,16.62,16.62,0,0,0,2.26.75,4.5,4.5,0,0,0,1.3-.13,17.65,17.65,0,0,0,1.42-3.19c1.46-6.22,2.78-12.47,4.25-18.69.51-2.15-.12-3.54-1.85-4.93a53.19,53.19,0,0,0-27.89-11.66A82.11,82.11,0,0,0,773,480.3c-1.07.3-2.19.45-3.28.67l.09.11c.08-1.39,1.22-1.75,2.2-2.24a74.9,74.9,0,0,1,27.11-7.44c4.45-.37,8.95-.32,13.42-.32,7,0,13.57,1.95,19.92,4.7,1.9.83,3.78,1.71,5.89,2.67a34.22,34.22,0,0,1,.8,3.53,152.72,152.72,0,0,1-1.84,52c-3.23,14.86-9.11,28.57-19.19,40.28a79.57,79.57,0,0,1-41.7,25.81,84.92,84.92,0,0,1-26.17,2.47,74.61,74.61,0,0,1-45.75-18.69,151.18,151.18,0,0,1-27.58-32.38c-2.61-4-5.08-8.13-7.56-12.23a10.9,10.9,0,0,1-2-5.26,17.52,17.52,0,0,1,2.6,1.62c5.56,5.28,11,10.65,16.62,15.91a192.8,192.8,0,0,0,29.27,23.2,67.15,67.15,0,0,0,40.7,10.2,78.92,78.92,0,0,0,23.82-5.08,76.7,76.7,0,0,0,19-11.11,16.77,16.77,0,0,0,2-2.32,21.66,21.66,0,0,0-1.41-2.95,65.57,65.57,0,0,0-22.95-21.34c-1.47-.8-3.38-1.2-3.82-3.26Z" transform="translate(-10.2 -12.13)"/>
          <path d="M382.31,547.7a10.76,10.76,0,0,1-1.72-.54C363.47,539.13,347,530,332,518.43c-10.31-7.94-19.58-16.93-26.8-27.87a92,92,0,0,1-14.4-38.79c-2.49-18.14,0-35.69,6.37-52.78,6.14-16.58,14.54-32,23.87-46.95,5.08-8.13,10.11-16.3,15.35-24.33q10.1-15.45,20.52-30.69c7.41-10.81,15-21.52,22.51-32.24,2.3-3.27,4.72-6.46,7.11-9.66.65-.88,1.4-1.69,2.15-2.58.89,1,.12,1.7-.18,2.31-4.87,9.9-9.65,19.84-14.71,29.64-5.41,10.51-11,20.92-16.67,31.31-8.85,16.29-17.8,32.53-26.72,48.78-5.54,10.1-10.8,20.32-15.31,30.93-5.23,12.29-8.87,25-9.92,38.37a92.42,92.42,0,0,0,2.05,26.68c3.22,15.09,10.58,28,20.59,39.53a178.15,178.15,0,0,0,23.55,22.49c8.87,7.08,17.94,13.91,26.91,20.87,1.49,1.16,2.95,2.37,4.42,3.56Z" transform="translate(-10.2 -12.13)"/>
          <path d="M913.12,547.22c1-.89,1.9-1.73,2.86-2.46,4.71-3.58,9.49-7,14.14-10.7,6.55-5.12,13.11-10.24,19.45-15.61,9.91-8.39,19-17.61,26.34-28.39,12.69-18.69,17-39.36,14.31-61.65-1.62-13.33-6.18-25.75-11.55-37.93-4.33-9.8-9.39-19.24-14.57-28.62-7.89-14.27-15.8-28.52-23.52-42.88Q928,295.55,915.72,271.92c-3.1-5.93-5.87-12-8.75-18,1-1,1.34-.13,1.66.29,4.48,6,9,12,13.39,18.11q19.59,27.54,37.93,56c10.59,16.37,21.12,32.8,29.94,50.23,7.11,14.05,12.85,28.57,15.07,44.28a102.38,102.38,0,0,1-.1,30.57,95.1,95.1,0,0,1-9.26,29.11c-5.72,11.09-13.74,20.38-22.92,28.71a178.88,178.88,0,0,1-28.31,20.5,262.4,262.4,0,0,1-27.88,14.9C915.55,547,914.67,548,913.12,547.22Z" transform="translate(-10.2 -12.13)"/>
          <path d="M1028,907.27c4.21,5.17,9,14.77,9.88,19.53-.75,1.34-2.16,1.78-3.44,2.37-12.36,5.67-24.35,12.05-36.2,18.7a311.74,311.74,0,0,0-38.64,25.78c-13.46,10.47-25.08,22.73-35.9,35.82A206.42,206.42,0,0,0,909,1029a103.54,103.54,0,0,0-10.57,21.45c-2.47,6.92-5.07,13.8-7.63,20.69-.21.57-.48,1.11-.72,1.64-1.15-.24-.78-1-.77-1.54.45-18,4.8-35.08,11.77-51.57,8.89-21.07,22.14-39.12,38.18-55.28,15.1-15.22,32.35-27.52,51.07-37.8,10.92-6,22.07-11.59,33.13-17.34C1024.84,908.5,1026.34,908,1028,907.27Z" transform="translate(-10.2 -12.13)"/>
          <path d="M1197.2,1014.14a36.27,36.27,0,0,1-1.68-3.36c-5-13.16-13.9-23.14-25.45-30.9A99.11,99.11,0,0,0,1134,965c-3.27-.66-6.54-1.35-9.69-2a1.43,1.43,0,0,1,.49-2.16,21.3,21.3,0,0,1,2.82-1.79c15.72-8,32.37-11.78,50-10.65s33.79,6.46,48.21,16.8c1.94,1.39,3.9,2.77,5.82,4.2a6,6,0,0,1,.91,1.28,16.5,16.5,0,0,1-1.37,2.43q-16.22,20.15-32.49,40.23C1198.43,1013.7,1197.9,1013.8,1197.2,1014.14Z" transform="translate(-10.2 -12.13)"/>
          <path d="M754.58,629.33c30.57,9,57.51,3.52,80.38-19.2,20.91-24.12,25.75-50.92,13.29-80.47,4-2.83,24.1-11.43,28.3-12.11.41,1,.91,1.93,1.24,3a90.35,90.35,0,0,1,3.25,37A92.58,92.58,0,0,1,866.17,599c-12.4,18.89-29.31,31.78-51.22,37.82A80.8,80.8,0,0,1,777,638a69.05,69.05,0,0,1-20.63-7.49C755.75,630.16,755.18,629.72,754.58,629.33Z" transform="translate(-10.2 -12.13)"/>
          <path d="M540.5,629.54a42.92,42.92,0,0,1-12.42,6,81,81,0,0,1-40.22,2.76,84.33,84.33,0,0,1-36.12-15.81A91.44,91.44,0,0,1,420.2,580a94.12,94.12,0,0,1-3.48-54.28,34.62,34.62,0,0,1,2.81-8.28,7.06,7.06,0,0,1,1.9.23q12.35,5.29,24.64,10.68a15.38,15.38,0,0,1,1.81,1.18c-2.16,6-4.84,11.8-5.8,18.14a71.07,71.07,0,0,0-.74,19.1,80.92,80.92,0,0,0,4.27,18.65,73.27,73.27,0,0,0,9,16.89,70.17,70.17,0,0,0,13.4,14.3,85.93,85.93,0,0,0,16.23,10.12,68.5,68.5,0,0,0,18.28,5.61,74.72,74.72,0,0,0,19.13.76C528,632.53,534.2,630.89,540.5,629.54Z" transform="translate(-10.2 -12.13)"/>
          <path d="M35.55,548.73c2.15-7,4.22-14.06,6.45-21.05,4.23-13.25,9.12-26.26,14.36-39.13a28.22,28.22,0,0,1,2-3.78c14-23.1,29.82-45,46.34-66.39,9-11.64,17.58-23.57,26.41-35.32,1.62-2.16,3.49-4.14,5.32-6.13a12.45,12.45,0,0,1,2.38-1.48c-.2,1.82-.26,3.07-.47,4.29-2.79,16.22-5.65,32.42-8.34,48.65a11.09,11.09,0,0,1-4.15,7.19,486.43,486.43,0,0,0-36.55,33.18,196.72,196.72,0,0,0-21.5,26.33,373,373,0,0,0-26.46,44.45c-1.65,3.25-3.36,6.47-5,9.7Z" transform="translate(-10.2 -12.13)"/>
          <path d="M1124.45,687.16c-.17.83-.13,1.23-.31,1.41-4.78,4.81-6.23,11-7.39,17.36-.66,3.61-1.37,7.22-2.21,10.79a31.78,31.78,0,0,1-1.75,5,8.77,8.77,0,0,1-5.48,5,23.42,23.42,0,0,1-7.92,1.67c-6.56,0-13.11.14-19.67,0a24.93,24.93,0,0,1-6.57-1.07c-4.61-1.38-7-4.8-7.82-9.4a29.39,29.39,0,0,1-.32-4.78c0-5.76,0-11.51-.08-17.27a23.62,23.62,0,0,0-.29-4.29,4,4,0,0,0-4-3.51c-1.11-.11-2.23-.07-3.35-.07-6.24,0-12.47,0-18.71,0-4.26,0-5.32,1-6.14,5.13a71.8,71.8,0,0,1-4.93,16.49A32.82,32.82,0,0,1,1015,723.74a49.22,49.22,0,0,1-13.54,6c-2.9.79-5,.07-6.57-2.43-.94-1.48-2.06-2.87-2.88-4.41a3.32,3.32,0,0,1,1.55-4.84c1-.53,2.11-.78,3.09-1.3,3.39-1.77,6.91-3.38,10.09-5.47,6-4,9.47-9.91,11.13-16.8,1-4.33,1.57-8.79,2.29-13.21.16-.94.06-1.92.21-2.86.41-2.57,1.52-3.55,4.15-3.75.79-.06,1.6,0,2.39,0l45.57,0a26.66,26.66,0,0,1,3.35.13,3.4,3.4,0,0,1,3.24,3,25.72,25.72,0,0,1,.16,3.83c0,8.79,0,17.59,0,26.38a28.51,28.51,0,0,0,.17,3.82c.26,1.82,1.29,3.05,3.13,3.11,4.62.16,9.26.14,13.88,0a5.1,5.1,0,0,0,4.81-4,67.69,67.69,0,0,0,1.79-7.44,26.25,26.25,0,0,1,2.38-6.74c2.16-4.45,6-7,10.24-9C1118.27,686.43,1121.28,686.73,1124.45,687.16ZM1085.38,723a26.86,26.86,0,0,0,12.06,1.4c7.41-1.06,11.54-4.73,12.76-12.12.85-5.09,1-10.28,1.58-16.3-1.13,1.16-1.87,1.61-2.13,2.25a33.34,33.34,0,0,0-1.57,5c-.68,3.11-1.1,6.28-1.84,9.37a10,10,0,0,1-7.6,7.78,31.62,31.62,0,0,1-4.21.82c-2.37.31-4.75.5-7.12.77C1086.54,722,1085.69,722,1085.38,723Z" transform="translate(-10.2 -12.13)"/>
          <path d="M410,242.22q-9.69,21.39-19.37,42.79c-5.54,12.22-11.1,24.44-16.58,36.68-5.67,12.69-11.33,25.38-16.87,38.13-3,6.88-5.8,13.83-8.52,20.82-5.71,14.68-4.8,29.37-.05,44.13,4.21,13.1,11.69,24.05,21.42,33.59,9.15,9,19.25,16.8,29.57,24.36,4.24,3.1,8.47,6.22,12.69,9.32-.64,1.12-1.2.4-1.62.22a207.67,207.67,0,0,1-43.81-25.48c-11.8-9.06-21.55-20-27.52-33.87-4.53-10.51-7.3-21.5-7.21-33a67.69,67.69,0,0,1,1.37-12.35,108.22,108.22,0,0,1,9.17-26.67c8.41-17.23,16.64-34.54,25.36-51.61,6.83-13.38,14.44-26.34,22.49-39,5.48-8.63,11.14-17.15,16.74-25.7.67-1,1.19-2.35,2.81-2.23Z" transform="translate(-10.2 -12.13)"/>
          <path d="M885.11,241.57a2.23,2.23,0,0,1,2.38,1.2c1.69,2.52,3.46,5,5.16,7.51,11.91,17.63,22.57,36,32.93,54.58,5.78,10.34,10.78,21.05,15.83,31.74,3.15,6.65,6.58,13.16,9.79,19.77a146.11,146.11,0,0,1,10.57,28.24A68.19,68.19,0,0,1,962,416a82.87,82.87,0,0,1-26,44.9,143.27,143.27,0,0,1-20.74,15.46,219.78,219.78,0,0,1-30.91,16.33c-.59.24-1.19.43-2.19.8a8.26,8.26,0,0,1,2.83-2.54c10.81-7.68,21.57-15.46,31.66-24.1,8.78-7.51,16.89-15.61,23-25.52a77.4,77.4,0,0,0,11.56-39.09,58.28,58.28,0,0,0-2.84-18.42,182,182,0,0,0-8.42-21.4c-7.39-16.66-14.75-33.33-22.22-49.95-5.76-12.82-11.7-25.57-17.53-38.37-4.64-10.18-9.22-20.39-13.85-30.57a14.63,14.63,0,0,0-1.32-2Z" transform="translate(-10.2 -12.13)"/>
          <path d="M559.26,614.17a64.78,64.78,0,0,1,4.68,7.09A97,97,0,0,0,575.8,636.9a77.31,77.31,0,0,0,41.89,23.64,178.4,178.4,0,0,0,26.13,3.36c7.37.4,14.68-.37,22-1.23a129.75,129.75,0,0,0,18.34-3.58c14.82-4,27-12.12,37.15-23.49a108.45,108.45,0,0,0,13.2-18.22c.76-1.31,1.21-3,3.08-3.89a36.32,36.32,0,0,1-2,9.12c-6.53,19.78-18.32,35.33-36.88,45.31A85.78,85.78,0,0,1,680,675.16a123.26,123.26,0,0,1-64.94-.28c-13.35-3.65-25.33-9.78-35.13-19.74A77.44,77.44,0,0,1,559,617a15.18,15.18,0,0,1-.2-2.34C558.74,614.55,558.94,614.45,559.26,614.17Z" transform="translate(-10.2 -12.13)"/>
          <path d="M411.54,17.54Q402.45,25,393.36,32.36a229.38,229.38,0,0,0-24.13,21.87C358,66.29,348.81,79.64,342.65,95A94.23,94.23,0,0,0,335.51,129c-.24,16.91,3.36,33,9.8,48.53,4.89,11.84,11.55,22.41,20.93,31.19a126.78,126.78,0,0,0,16.05,12.9c3.44,2.31,6.94,4.55,11.29,7.39a38.13,38.13,0,0,1-4.1-.86C375,223,361.9,215.54,351.15,204.37a86.19,86.19,0,0,1-14.43-20.23,118.8,118.8,0,0,1-12.89-39.45q-5.11-39.19,17-72a134.17,134.17,0,0,1,36.5-36.27,274.72,274.72,0,0,1,32.26-18.82c.54-.26,1.11-.46,1.66-.69Z" transform="translate(-10.2 -12.13)"/>
          <path d="M903.29,228.28l5.23-3.26a130.58,130.58,0,0,0,23.65-18.64c9.3-9.37,15.52-20.62,20.15-32.83a127,127,0,0,0,7-26.83,99.26,99.26,0,0,0-10.87-62.17c-9.19-17.33-21.75-31.86-36.66-44.43-8.18-6.9-16.56-13.57-24.84-20.35-.85-.7-1.66-1.43-2.48-2.14.72-.95,1.26-.3,1.7-.06,6.48,3.46,13,6.75,19.36,10.49C919,36,931.49,45,942.2,56.42a118.5,118.5,0,0,1,24.34,38.13,98,98,0,0,1,6.53,40.39c-.8,18.08-6.25,34.78-14.66,50.66-9.78,18.45-24.86,30.92-43.67,39.28C911.13,226.49,907.54,228.22,903.29,228.28Z" transform="translate(-10.2 -12.13)"/>
          <path d="M1090.57,1086.3c-1.56-5.69-2.7-10.66-4.3-15.49a48.21,48.21,0,0,0-7.42-13.35,52.8,52.8,0,0,0-10.92-10.66,54.63,54.63,0,0,0-28.41-10.39,50.91,50.91,0,0,0-15.22,1.25,43.2,43.2,0,0,0-14.23,5.48c-4.27,2.68-8.41,5.58-12.86,8.55-.78-5.79.75-10.91,3.25-15.75,3.81-7.37,9.86-12.42,17.32-15.88a51.34,51.34,0,0,1,24.26-4.53,64.69,64.69,0,0,1,38,14c8.44,6.7,14.88,14.93,17.84,25.47,2.88,10.26,1.53,19.93-4.73,28.71A25.12,25.12,0,0,1,1090.57,1086.3Z" transform="translate(-10.2 -12.13)"/>
          <path d="M1240.28,945.77c-.82-1.35-1.37-2.1-1.78-2.92a89.71,89.71,0,0,0-22-28.64,57.43,57.43,0,0,0-27.54-13.65c-1.72-.32-3.47-.47-5.21-.63-1.57-.15-3.18,0-5-.84a13.58,13.58,0,0,1,.87-2.14q7.92-12.26,15.91-24.49,3.52-5.41,7.1-10.8c.61-.91,1.33-1.75,2-2.57,10.55,4,26.35,22.52,32.79,38.2S1244.67,934.9,1240.28,945.77Z" transform="translate(-10.2 -12.13)"/>
          <path d="M1126.68,1071c.15-1.7,1.27-2.89,2-4.23a51.46,51.46,0,0,0,6.79-30,50.61,50.61,0,0,0-37.18-44.63,49.16,49.16,0,0,0-14.21-1.92c-1.1,0-2.2,0-3.13,0a1.81,1.81,0,0,1,.49-2.41c7.87-8.46,17.67-11.09,28.81-9.33,7.76,1.22,14.57,4.71,20.7,9.49,13,10.11,20.51,23.52,23,39.67a43.94,43.94,0,0,1-3.57,26.23,32.49,32.49,0,0,1-14.8,15.15C1132.77,1070.49,1130.93,1070.87,1126.68,1071Z" transform="translate(-10.2 -12.13)"/>
          <path d="M256.41,229.66a10.68,10.68,0,0,1,2-1.23c5.61-1.84,11.2-3.78,16.88-5.39,8.77-2.47,17.7-2.21,26.64-1A100.55,100.55,0,0,1,335,233a78.46,78.46,0,0,1,10.2,6c-1.48,3.46-3.91,6.4-9.05,11a23.78,23.78,0,0,1-3.21-1.52c-9.53-6.36-20-10.64-30.87-14-3.36-1-6.76-1.94-10.15-2.83a20.77,20.77,0,0,0-2.84-.36c-.25,1.67,1,2.07,1.76,2.68,4.53,3.54,9.19,6.91,13.62,10.56A86.31,86.31,0,0,1,320.75,262c.72,1.05,1.36,2.15,2,3.15-1.79,3.31-9.52,12.23-12.66,14.58a10.59,10.59,0,0,1-1.6-1.61c-7.32-11.65-17-21.11-27.55-29.75a250.53,250.53,0,0,0-20.4-15.11C259.1,232.28,257.49,231.45,256.41,229.66Z" transform="translate(-10.2 -12.13)"/>
          <path d="M305,286.31a136,136,0,0,1-9,11.21,24.56,24.56,0,0,1-3.17-1.18c-12.79-7-26.67-10.54-40.89-13a47.12,47.12,0,0,0-5.18-.37c-.29,1.84,1.06,2.07,1.9,2.62,6,3.94,12.15,7.67,18.05,11.77A69.15,69.15,0,0,1,282,311.77c.87,1.12,1.62,2.33,2.51,3.62-2.17,5.27-5.14,10-7.49,15-1.95-.71-2.46-2.35-3.39-3.58-3.29-4.31-6.41-8.76-9.81-13-7.06-8.79-15.61-16-24.86-22.32a141,141,0,0,0-23.73-13.4,21.65,21.65,0,0,1-2.92-1.9,24.05,24.05,0,0,1,6.35-3.82,44.24,44.24,0,0,1,25.14-4.25,178.61,178.61,0,0,1,32.3,6.81c7.46,2.3,14.78,5.09,22.13,7.76A23.39,23.39,0,0,1,305,286.31Z" transform="translate(-10.2 -12.13)"/>
          <path d="M720.52,603.13a13.81,13.81,0,0,1-7.88,6c-9.44,2.92-18.35,1.76-26.47-4a82.81,82.81,0,0,1-6.6-5.55c-1.8-1.59-3.55-3.23-5.26-4.9a30,30,0,0,0-16.94-8.33,56.28,56.28,0,0,0-22.38.87,27.89,27.89,0,0,0-12.16,6.42q-4.43,4.05-8.8,8.14c-5.57,5.18-12,8.41-19.7,8.91-5.92.38-11.45-.84-16.28-4.45a15.43,15.43,0,0,1-1.84-2c.8-1.18,1.58-.55,2.25-.37,6.18,1.62,12,.56,17.72-2.09a19.63,19.63,0,0,0,7.12-5.55c2.62-3.23,5.2-6.48,7.81-9.72a41.44,41.44,0,0,1,12.22-10.64,44.88,44.88,0,0,1,20.6-5.67,94,94,0,0,1,10.07.13c11.64.92,21.64,5.31,29.28,14.4,2.57,3,5,6.22,7.46,9.38A26.4,26.4,0,0,0,709,604.54C712.51,605,716,604.4,720.52,603.13Z" transform="translate(-10.2 -12.13)"/>
          <path d="M861.48,297.69c-8.56,10.15-19,15.58-32.78,12.61-8-1.72-15.06-5.23-21.92-9.35-4-2.39-7.71-5.13-11.5-7.8a144.19,144.19,0,0,0-19.13-11.83c-8.72-4.31-17.84-7.06-27.71-6.05-9.38,1-18.09,3.78-25.52,9.88a38.54,38.54,0,0,0-8.4,10.37c-1.79,3-3.45,6.08-5.14,9.08-1.19-.19-.79-.93-.73-1.47A52.49,52.49,0,0,1,714,285.82a34.9,34.9,0,0,1,12.55-13.58c14.74-9.63,30.5-11.55,47.16-5.76,11,3.84,20.46,10.36,29.62,17.38,4.82,3.68,9.68,7.31,14.52,11a53.44,53.44,0,0,0,11.68,6.5c7.72,3.26,15.44,3.76,23.22.18C855.63,300.18,858.56,299,861.48,297.69Z" transform="translate(-10.2 -12.13)"/>
          <path d="M422.78,14.09c0,1.63.08,2.42,0,3.2-1.6,14.6-2.84,29.24-5.17,43.75a37.24,37.24,0,0,0,.06,13.8,27.15,27.15,0,0,0,7.13,13.33,100.76,100.76,0,0,0,9.47,8.77c5.95,4.83,12.06,9.45,17.58,14.79a44.13,44.13,0,0,1,13,23c.42,2,.58,4,.84,5.93-1.16.63-1.42-.08-1.74-.55-1.63-2.36-3.16-4.8-4.88-7.1-5-6.65-11.6-11.33-18.66-15.51-5.35-3.16-10.73-6.32-15.95-9.7a53,53,0,0,1-16.56-16.35,36.88,36.88,0,0,1-5.35-25.21,79.35,79.35,0,0,1,3.33-13.95,245.6,245.6,0,0,1,9.94-26.94c1.52-3.33,3.39-6.49,5.15-9.71C421.19,15.24,421.67,15,422.78,14.09Z" transform="translate(-10.2 -12.13)"/>
          <path d="M434.25,298a9.68,9.68,0,0,1,1.73.31c2.5,1.06,5,2.1,7.46,3.24a24.8,24.8,0,0,0,18.67,1.2,63.89,63.89,0,0,0,10.52-4.52,108,108,0,0,0,16.44-11.54c8.33-6.74,17-13,26.74-17.6,11.8-5.58,24-7.47,36.82-4.34a49,49,0,0,1,23.87,13.48,28.3,28.3,0,0,1,3.28,4.11A45.68,45.68,0,0,1,587,301.44a32.72,32.72,0,0,1,0,3.28c-1.32-2.16-2.09-3.5-2.93-4.79-2.08-3.22-4.09-6.48-6.31-9.6A31.9,31.9,0,0,0,564.85,280c-13.86-6.43-27.76-6.45-41.7-.23C515.23,283.27,508.05,288,501,293c-6,4.19-11.94,8.54-18.56,11.82a59.65,59.65,0,0,1-16.19,5.74c-8.75,1.54-16.85.26-24.06-5.19-2.29-1.72-4.46-3.6-6.65-5.46A9.84,9.84,0,0,1,434.25,298Z" transform="translate(-10.2 -12.13)"/>
          <path d="M830.87,141.23a13.53,13.53,0,0,1-.38-2.46A41.14,41.14,0,0,1,841,115.08a111.66,111.66,0,0,1,14.15-12.9c4.71-3.82,9.4-7.69,13.85-11.81A39.8,39.8,0,0,0,875,83c4.19-6.36,4.66-13.58,3.56-20.81q-3.32-21.81-5.08-43.8c-.09-1.1-.06-2.21-.06-3.31,0-.09.2-.18.58-.49a21.81,21.81,0,0,1,1.33,1.75c4.39,7.12,7.4,14.86,10.21,22.69,1.83,5.11,3.49,10.28,5.17,15.45A59.94,59.94,0,0,1,893.55,69c.8,12.14-3.61,22.18-12.06,30.64-5.82,5.82-12.75,10.1-19.79,14.23q-5,2.91-9.88,5.89a57.09,57.09,0,0,0-18.64,18.3C832.62,139,832,139.77,830.87,141.23Z" transform="translate(-10.2 -12.13)"/>
          <path d="M1055.22,958.88a156.5,156.5,0,0,1,6.24,17.65,16.19,16.19,0,0,1-2.77,1.19,167.2,167.2,0,0,0-24.53,6.5c-8.24,3-16.43,6.18-24,10.83A59,59,0,0,0,997,1006.12a89,89,0,0,0-15.87,24.4,94.56,94.56,0,0,0-4.48,15.14c-.8,3.41-1.35,6.89-2,10.35s-1.31,4-6,3.58a9.92,9.92,0,0,1-.21-2.19c.45-3.32.83-6.66,1.51-9.94,2.44-11.62,5.9-22.93,11.37-33.49a104.37,104.37,0,0,1,39.08-41.83,98,98,0,0,1,30.88-12.7C1052.45,959.21,1053.55,959.12,1055.22,958.88Z" transform="translate(-10.2 -12.13)"/>
          <path d="M403.6,152.38c6.83-1.83,13.67-1.7,20.52-1.62s13.24,1.66,19.91,2.74c-.07-1.87-1.25-2.55-2.28-3.18-3.69-2.24-7.34-4.57-11.2-6.46-4.15-2.05-8.53-3.63-12.8-5.43-1-.42-1.93-.9-3.32-1.56.81-.4,1.17-.73,1.53-.74,12.86-.29,25.58.44,37.81,5a32.43,32.43,0,0,1,9,4.45c-.31,2.13-1.79,3.26-2.9,4.52A153.62,153.62,0,0,0,446.22,168a171.49,171.49,0,0,0-12.54,23.71c-1.43,3.18-2.89,6.36-4.37,9.62-4.06-2.12-7.73-4.35-11.64-6s-7.84-2.65-11.74-3.93c-.39-1.48.84-1.66,1.6-1.95a57.74,57.74,0,0,1,19.58-4.23c1.21,0,2.42-.23,4.21-.4a9.62,9.62,0,0,0-1.38-1.78c-4.37-3.09-9.35-4.86-14.38-6.47-2.88-.93-5.86-1.54-8.8-2.31-1.52-.39-3-.81-4.43-1.19-.4-1.17.37-1.34.91-1.48,9.83-2.48,19.75-3.91,29.91-2.7a37,37,0,0,0,4.21,0c.65-1,0-1.62-.59-2-2.54-1.65-5-3.39-7.71-4.81-6.8-3.63-14.11-6-21.42-8.33C406.29,153.29,405,152.83,403.6,152.38Z" transform="translate(-10.2 -12.13)"/>
          <path d="M833,145.77c1.38-.87,2.5-1.71,3.74-2.33a64.59,64.59,0,0,1,17.71-5.76,125.93,125.93,0,0,1,25.8-1.53,3.51,3.51,0,0,1,.94.3c-.28,1.4-1.57,1.41-2.53,1.78-7,2.74-14,5.54-20.42,9.47a66.57,66.57,0,0,0-5.46,3.87c-.42.32-.59,1-1.14,1.91,4.91-.8,9.27-1.73,13.68-2.18,4.6-.46,9.25-.6,13.88-.61a69.38,69.38,0,0,1,14.45,1.15c-2.81,1-4.54,1.6-6.28,2.18s-3.63,1.21-5.46,1.8a88.83,88.83,0,0,0-20,9.12c-1.35.83-2.82,1.55-3.48,3.16.4,1.36,1.51.94,2.38.86a86.39,86.39,0,0,1,19.62.22c4.11.56,8.17,1.52,12.24,2.34a12.17,12.17,0,0,1,2.23,1.13c-5.75,1.58-10.81,2.84-15.77,4.39s-10,3.3-14,6.78c.33,1.62,1.45,1.35,2.33,1.34a49,49,0,0,1,14.64,2.18,40,40,0,0,1,8.43,3.07c0,1.29-.88,1.35-1.61,1.53-5.91,1.49-11.73,3.22-17,6.47-1.6,1-3.17,2-5.08,3.26-1.16-2.44-2.17-4.59-3.2-6.72-3.35-6.9-6.52-13.89-10.11-20.66a113.79,113.79,0,0,0-13-18.93c-2-2.46-4.11-4.9-6.14-7.37C833.93,147.4,833.57,146.71,833,145.77Z" transform="translate(-10.2 -12.13)"/>
          <path d="M1279.67,803c-1-.61-1.62-1-2.22-1.42a72.6,72.6,0,0,0-20.11-11c-8.54-3-17.32-4.47-26.37-2.63-2.49.5-4.93,1.31-7.39,2-.89.25-1.76.56-2.4.77-1.45-.78-1.1-1.8-1-2.7q1.43-11.18,2.91-22.32c.44-3.32,1-6.63,1.46-9.93a18.35,18.35,0,0,1,.58-2c4-.33,7.56,1.16,11.2,2.06a55.78,55.78,0,0,1,20,9.92,63.44,63.44,0,0,1,16.6,18.36,59,59,0,0,1,7,16.7A6.72,6.72,0,0,1,1279.67,803Z" transform="translate(-10.2 -12.13)"/>
          <path d="M974.18,413.73c1.21,18.95-.8,37.34-9.22,54.61a86.61,86.61,0,0,1-20.55,26.82,215.36,215.36,0,0,1-22.47,17.11c-7.26,5-14.65,9.7-22,14.51-1.45,1-3,1.74-4.55,2.63-2.77-1.88-3.28-4.88-4.63-7.31s-2.53-5.11-3.85-7.84a23.83,23.83,0,0,1,2.48-1.75C900,507,910.74,501.67,921.27,496a176.37,176.37,0,0,0,17.1-10.54,75.09,75.09,0,0,0,26.16-32.35,121.27,121.27,0,0,0,8.55-31.82C973.43,418.74,973.81,416.24,974.18,413.73Z" transform="translate(-10.2 -12.13)"/>
          <path d="M400.72,529.68c-4.41-2.79-8.64-5.34-12.75-8.08-10.11-6.72-20.28-13.36-29.81-20.9-9.35-7.38-17.57-15.78-23.75-26.06a89.84,89.84,0,0,1-11.66-33.25,126,126,0,0,1-1.49-25.81,3.14,3.14,0,0,1,.6-1.89c.19,1.35.39,2.69.58,4s.38,2.85.58,4.28c2.15,14.66,6,28.73,13.86,41.51,5.61,9.16,13.13,16.45,21.74,22.69a159.14,159.14,0,0,0,20.61,12.18q13.83,7.16,27.66,14.31a16.14,16.14,0,0,1,1.49,1C407.73,517.48,403.69,526,400.72,529.68Z" transform="translate(-10.2 -12.13)"/>
          <path d="M551.11,398.77c-.59.47-1.11,1.18-1.78,1.36-3.39.92-6.78,1.88-10.23,2.5A114.58,114.58,0,0,1,491,401.34a145.58,145.58,0,0,1-64.21-35.72c-2.93-2.94-5.61-6.12-8.34-9.25a19.79,19.79,0,0,1-1.7-2.77c2.63-2.55,9.67-6.6,15.07-8.69a6.81,6.81,0,0,1,1.2,1.25c5.36,8.86,12.46,16.22,20.15,23a127.89,127.89,0,0,0,42.18,25.13,107.81,107.81,0,0,0,21.89,5.11c10.86,1.44,21.69.93,32.53-.24a13.41,13.41,0,0,0,1.39-.34Z" transform="translate(-10.2 -12.13)"/>
          <path d="M745.29,398.69a94.61,94.61,0,0,0,18.55,1.65,111.26,111.26,0,0,0,31.21-4.28,102,102,0,0,0,17.41-6.72,133.67,133.67,0,0,0,44.25-34.49c1.63-2,3-4.1,4.54-6.16.93-1.28,1.82-2.57,2.69-3.79,4.4,1.57,12.31,6,15.2,8.57a17.86,17.86,0,0,1-3.66,5.43,108,108,0,0,1-16.29,15.48,152.68,152.68,0,0,1-33.64,20.08c-19.17,8.21-39.09,11.77-59.88,9.42a91.51,91.51,0,0,1-18.79-3.63,2,2,0,0,1-1.57-1.56Z" transform="translate(-10.2 -12.13)"/>
          <path d="M755,306.26c-.25,2.12-.35,3.52-.58,4.9A39.54,39.54,0,0,0,757.66,335a21.89,21.89,0,0,0,1.67,2.89,11.06,11.06,0,0,0,1.6,1.47,14.53,14.53,0,0,0,2.13-1.81c3.86-4.72,5.72-10.32,6.56-16.21a88,88,0,0,0,.39-10c0-1.09,0-2.18,0-3.64a9.48,9.48,0,0,1,2.33.53c9.68,5.25,15.07,15.82,11.58,27.69C780.28,348.27,769.69,354,758.75,353a23.45,23.45,0,0,1-21.18-19.13,24.27,24.27,0,0,1,11.74-25.65,12.53,12.53,0,0,1,2.18-1C752.38,306.9,753.31,306.71,755,306.26Z" transform="translate(-10.2 -12.13)"/>
          <path d="M525.75,307.69c.87,1.3.16,2.73.07,4.09a39.8,39.8,0,0,0,4,20.93,40.79,40.79,0,0,0,3.66,5.6,1.64,1.64,0,0,0,2.82-.07,31.13,31.13,0,0,0,2.61-4.55,38.6,38.6,0,0,0,2.72-22.05c-.24-1.55-.34-3.11-.54-5.08a14.38,14.38,0,0,1,3,.45A23.93,23.93,0,1,1,524,350.41c-8.19-4.13-12.57-11.17-12.87-20.45s3.69-16.32,11.51-21.22a21,21,0,0,1,2.57-1.25C525.33,307.45,525.52,307.6,525.75,307.69Z" transform="translate(-10.2 -12.13)"/>
          <path d="M1282.9,729.29a20,20,0,0,1-2.86-1.06c-9.56-5.28-19.71-5.92-30.2-3.86a68.73,68.73,0,0,0-19.72,7.12c-1.24.68-2.5,1.34-3.71,2-1.43-1.13-.55-2.17-.13-3.07,3.94-8.49,9.13-16.07,16.35-22.12a60.09,60.09,0,0,1,35.76-14.43c.79-.05,1.59-.1,2.38-.08a10.14,10.14,0,0,1,1.65.32,9.59,9.59,0,0,1,.75,2.53q.21,15.07.27,30.15A13.48,13.48,0,0,1,1282.9,729.29Z" transform="translate(-10.2 -12.13)"/>
          <path d="M1265,588.76a16.32,16.32,0,0,1,1,2.54c2.38,10.09,4.72,20.18,7.17,30.68a10.91,10.91,0,0,1-2.44,0c-13.52-3.44-25.9-.6-37.58,6.57a79.75,79.75,0,0,0-11.88,8.86,4,4,0,0,1-2,1.23c-1-7.51,4.93-21.35,13.16-31C1240.82,597.76,1255.62,589.12,1265,588.76Z" transform="translate(-10.2 -12.13)"/>
          <path d="M1264,571.43c-2.36-.28-4.67-.73-7-1-9.93-1.25-19.74-1-29.29,2.5a38.84,38.84,0,0,0-13.78,8.45l-3.34,3.23c-1.67-.1-1.78-1.41-2.1-2.38-2.1-6.37-4.13-12.76-6.19-19.14-.74-2.28-1.52-4.54-2.21-6.84-.36-1.19-.55-2.43-.74-3.34.86-1.69,2.2-1.89,3.41-2.2a61.18,61.18,0,0,1,29.4-.4c11.85,2.78,21.77,8.94,30.11,17.71C1263.12,568.89,1264.32,569.61,1264,571.43Z" transform="translate(-10.2 -12.13)"/>
          <path d="M982.6,1077.17c.73.51,1.52,1,2.2,1.54,12.35,10.44,26.41,17.77,41.72,22.84a102.62,102.62,0,0,0,22.33,5.13,82,82,0,0,0,25.24-1.22,5.12,5.12,0,0,1,1.41,0c.14,0,.26.15.71.43a11.09,11.09,0,0,1,0,2.52c-1.17,5.58-1.16,11.42-3.43,16.67-9.19,1.5-35.22-3.8-48.74-10.62-17.12-8.64-31.4-20.49-42.13-36.41Z" transform="translate(-10.2 -12.13)"/>
          <path d="M1230.3,472.39c-1.77,0-2.52.07-3.25,0a64.78,64.78,0,0,0-27.45,3c-7.84,2.6-14.77,6.85-19.82,13.68-.66.89-1.44,1.69-2.06,2.41a1.71,1.71,0,0,1-2-1.26q-6.11-13.82-12.14-27.66a19.37,19.37,0,0,1-.61-1.93c1.8-2.16,4.48-2.51,6.81-3.25,7-2.23,14.32-3.55,21.74-2.92,8.33.71,16.46,2.51,23.83,6.7C1220.49,464.08,1225.73,466.9,1230.3,472.39Z" transform="translate(-10.2 -12.13)"/>
          <path d="M1185.17,388.88a6.26,6.26,0,0,1,1.16,1.11q5.58,9.78,11.08,19.59a4.51,4.51,0,0,1,.27,1.27c-.66,1.19-1.69.84-2.59.82a44,44,0,0,0-15.52,2.46,27.51,27.51,0,0,0-17.23,16.18c-1.28,3.08-2.11,6.35-3.09,9.55-.46,1.5-.8,3.05-1.3,5-.9-.67-1.67-1-2-1.57a68.59,68.59,0,0,1-4.76-7.73c-3.93-8.11-3.1-16.13,1-23.92a32.26,32.26,0,0,1,11.19-12.26,118.93,118.93,0,0,1,18.72-9.61A25.66,25.66,0,0,1,1185.17,388.88Z" transform="translate(-10.2 -12.13)"/>
          <path d="M1269.14,865.83c-1.19-5.87-2.58-11.23-5.46-16.08a36,36,0,0,0-11.48-12,34.87,34.87,0,0,0-15.09-5.74,39.47,39.47,0,0,0-16.59,1.24c-5.38,1.68-10,4.81-15,8.49a16.41,16.41,0,0,1-.39-3.42,21.47,21.47,0,0,1,7.2-13.17,26.71,26.71,0,0,1,13.1-6.62c17.18-3.2,31.53,1.86,43,15a27.34,27.34,0,0,1,6.46,14.22c.88,6.26-.12,12.1-4.34,17.09A10.91,10.91,0,0,1,1269.14,865.83Z" transform="translate(-10.2 -12.13)"/>
          <path d="M568.6,609.08c1.51.1,2,1.35,2.8,2.35,3,3.91,5.9,8,9.2,11.64A64.1,64.1,0,0,0,611.14,642a129.45,129.45,0,0,0,49.79,4.57,154.7,154.7,0,0,0,19.81-3.39,68.63,68.63,0,0,0,40.84-27.41c1.58-2.18,3.09-4.41,4.64-6.61,1,.46.38,1.07.19,1.53-7.85,18.55-21.22,31.21-40.33,37.72A119.39,119.39,0,0,1,635,653.9a111.19,111.19,0,0,1-25.67-5.61,65.09,65.09,0,0,1-30.52-21.49,74,74,0,0,1-9.46-16c-.25-.58-.55-1.14-.83-1.7Z" transform="translate(-10.2 -12.13)"/>
          <path d="M423.65,304.46c1.43,2.11,2.73,4.07,4.06,6,8.66,12.54,20.48,20.3,35.33,23.61a73.21,73.21,0,0,0,19,2.11c1,0,1.92,0,2.87-.13,2.53-.24,3-.6,3.68-3,.66-2.14,1.26-4.29,2-6.4a29.45,29.45,0,0,1,6.15-10.17,12.3,12.3,0,0,1,2-1.4c-.21,1.35-.29,2.08-.44,2.8-.94,4.52-2.22,9-2.81,13.57-1.76,13.62.67,26.38,8.6,37.85.36.52.7,1.06,1,1.61a1.28,1.28,0,0,1,.05.49c-.61.94-1.36.47-2,.09a29.48,29.48,0,0,1-12.63-15.15c-.65-1.61-1.25-3.24-1.89-4.9-2.25-.38-4.27-.77-6.31-1.06a84,84,0,0,1-36.24-14.08c-11.06-7.6-18.24-18.12-22.57-30.7C423.41,305.37,423.57,305,423.65,304.46Z" transform="translate(-10.2 -12.13)"/>
          <path d="M872.55,305.69c-1.5,3.35-2.86,6.77-4.53,10-6.24,12.12-15.93,20.66-28,26.54a85,85,0,0,1-27.38,8.32c-1.73.2-3.44.57-5.36.9-.54,1.54-1,3-1.59,4.51a30.35,30.35,0,0,1-12.42,15.37,8.35,8.35,0,0,1-1.75.67c-.11,0-.28-.07-.73-.21a5.7,5.7,0,0,1,.55-1.6c9.2-12.52,11-26.64,8.87-41.53-.48-3.46-1.57-6.84-2.38-10.26-.2-.88-.4-1.78-.77-3.46a19.64,19.64,0,0,1,7.38,9.32c1.52,3.49,2.56,7.18,3.93,11.15a32.92,32.92,0,0,0,3.48.62,72.56,72.56,0,0,0,21.86-2.18c13.93-3.29,25.32-10.36,33.59-22.19,1-1.44,2-2.91,3.1-4.25a12.56,12.56,0,0,1,2.18-1.69Z" transform="translate(-10.2 -12.13)"/>
          <path d="M758.89,292.27c-4.37,3-8.08,5.17-11.43,7.81a63.33,63.33,0,0,0-19.58,26.74c-3.38,8.45-3.41,17.18-1.59,25.93,1.47,7,3.35,14,5,20.95.17.73.26,1.48.51,2.93a12.06,12.06,0,0,1-2-1.34c-7.63-9.06-13.36-19.14-15.49-30.89a43.84,43.84,0,0,1,4.95-29.65,46.72,46.72,0,0,1,19.08-19,31.65,31.65,0,0,1,17.47-4.11A29.35,29.35,0,0,1,758.89,292.27Z" transform="translate(-10.2 -12.13)"/>
          <path d="M537.23,292.28a24.52,24.52,0,0,1,12.85.41c20.36,6.07,32.89,26.41,32.23,45.05A53.89,53.89,0,0,1,575,362.31,89,89,0,0,1,566.42,375a11,11,0,0,1-1.36,1.2c-1.18-.61-.61-1.44-.46-2.09,1.61-6.67,3.41-13.3,4.84-20a51.66,51.66,0,0,0,.91-18.56,46.63,46.63,0,0,0-5.73-16.15c-6-10.63-13.94-19.42-24.94-25.14A21.29,21.29,0,0,1,537.23,292.28Z" transform="translate(-10.2 -12.13)"/>
          <path d="M872,396.11a95.08,95.08,0,0,1,9.68,10.08,21,21,0,0,1-2.36,2.36,106.7,106.7,0,0,1-26.81,13.63c-18.78,6.51-38.13,7.61-57.74,6.27-5.55-.38-11.09-1.09-16.64-2a35.2,35.2,0,0,1,8.46-1.06,217.14,217.14,0,0,0,28.58-2.84c19.45-3.29,37-10.78,52.23-23.53,1.1-.92,2.26-1.77,3.4-2.63A6.06,6.06,0,0,1,872,396.11Z" transform="translate(-10.2 -12.13)"/>
          <path d="M517.64,426.17c-.34.36-.42.53-.52.54-2.68.37-5.35.82-8.05,1.06-12.74,1.13-25.49,1.74-38.25.42a130.05,130.05,0,0,1-29.32-6.71,99.25,99.25,0,0,1-21.8-10.85c-1.83-1.2-3.88-2.23-5.13-4.4,2.48-4.23,6.54-6.87,9.78-10.51a20,20,0,0,1,2.17,1.51c9.13,8.51,19.81,14.47,31.3,19.06,12,4.78,24.5,7,37.28,8.06,6.68.54,13.37,1,20,1.52C515.91,425.93,516.67,426.05,517.64,426.17Z" transform="translate(-10.2 -12.13)"/>
          <path d="M1223.58,680.31a15,15,0,0,1-2.4-9.88c.55-6.27,3.84-11.08,8.49-15,11-9.33,27.83-10.44,39.54-3.56,6.59,3.87,10.69,9.53,10.53,17.56a16.44,16.44,0,0,1-.73,3.11c-3.69-3.21-6.34-6.89-10.28-9a33.86,33.86,0,0,0-12.68-4.09,29.55,29.55,0,0,0-13.64,1.82,31.67,31.67,0,0,0-11.26,7.07C1227.9,671.47,1225.92,675.47,1223.58,680.31Z" transform="translate(-10.2 -12.13)"/>
          <path d="M1193.68,534a18,18,0,0,1-1.92-2.37,16.49,16.49,0,0,1-.41-13.92c3-7.58,8.66-12.56,16-15.66a34.6,34.6,0,0,1,16.38-2.83,25.74,25.74,0,0,1,14.51,5.62c3.45,2.81,5.84,6.35,6.29,10.92a13.34,13.34,0,0,1-.23,2.63c-1.41.32-2-.6-2.67-1.18a28.53,28.53,0,0,0-20.83-6.95c-9.4.58-16.71,4.94-22.13,12.51a24.43,24.43,0,0,0-3.75,7.73C1194.67,531.37,1194.3,532.24,1193.68,534Z" transform="translate(-10.2 -12.13)"/>
          <path d="M1176.9,374.4c-1-.39-2-.75-2.91-1.18a31.76,31.76,0,0,0-14.34-3.12,28.65,28.65,0,0,0-26.79,22c-.55,2.45-.83,5-1.22,7.32-1.15.62-1.74-.07-2.22-.62-3.91-4.48-4.32-9.78-3.38-15.31a23,23,0,0,1,5.94-11.79c7.65-8.41,17-12.86,28.49-11.76,7.28.69,13,4.06,16.2,11a9.36,9.36,0,0,1,.63,2.29C1177.35,373.5,1177.12,373.81,1176.9,374.4Z" transform="translate(-10.2 -12.13)"/>
          <path d="M766.33,207.06c9.55-6.09,59.16-22.73,73.12-24.21a27.25,27.25,0,0,1,1.8,11.49c-1.92,1-3.84.93-5.73,1a290.4,290.4,0,0,0-34.69,4.19c-10.81,2-21.49,4.75-32.23,7.15C768,206.87,767.39,206.91,766.33,207.06Z" transform="translate(-10.2 -12.13)"/>
          <path d="M529.66,207c-12.55-2.64-24.73-5.63-37.06-7.7S467.7,196,455,194.44a22.9,22.9,0,0,1,1.34-11.58C468.26,183.74,518.88,200.45,529.66,207Z" transform="translate(-10.2 -12.13)"/>
          <path d="M610.4,419.9c1.92,2.42,3.15,4.06,4.47,5.62a35.87,35.87,0,0,0,22.42,12.66,65.83,65.83,0,0,0,21.92-.08,36.34,36.34,0,0,0,22.86-13.7c1-1.2,1.63-2.7,3.55-3.6a9.14,9.14,0,0,1-.19,2.17c-4.32,11.13-11.89,18.59-23.71,21.62a52.76,52.76,0,0,1-29.27-.46c-11-3.4-18.29-10.67-21.85-21.64A17.2,17.2,0,0,1,610.4,419.9Z" transform="translate(-10.2 -12.13)"/>
          <path d="M687,535.5c1.24,1.42,2.43,2.9,3.74,4.26a78.44,78.44,0,0,0,38.07,21.83c7.56,1.91,15.29,3.12,23,4.65.45.09.9.21,2.51.59-1.92.2-2.72.35-3.52.36A115.24,115.24,0,0,1,726,565a60.66,60.66,0,0,1-28.14-13.49C692.86,547.25,688.78,542.22,687,535.5Z" transform="translate(-10.2 -12.13)"/>
          <path d="M609.25,535.55a24,24,0,0,1-5.7,10.48c-8.07,9.4-18.33,15.18-30.27,18.21a107.09,107.09,0,0,1-28,2.94c-.64,0-1.27-.07-1.91-.14-.11,0-.21-.14-.66-.46,4.17-.77,8.07-1.39,11.93-2.21,5.46-1.18,11-2.21,16.32-3.82,14.71-4.43,27.32-12.25,37.29-24.08A8.92,8.92,0,0,1,609.25,535.55Z" transform="translate(-10.2 -12.13)"/>
          <path d="M746.58,536.28c-3.52,2.27-7.29,2.88-11,3.4-6.67.94-13.37,1.13-20-.45-7.63-1.81-14.3-5.37-19.33-11.57a15.78,15.78,0,0,1-1.06-1.85,7.79,7.79,0,0,1,1.83.47c11,7.27,23.17,10.38,36.26,10.21,3.35,0,6.7-.14,10.05-.21C744.41,536.26,745.5,536.28,746.58,536.28Z" transform="translate(-10.2 -12.13)"/>
          <path d="M594.18,511.74c-19.13,6.71-35.69,2.55-48.93-12.37.77-.86,1.37,0,1.92.26,3,1.53,6,3.06,8.89,4.7a50.28,50.28,0,0,0,20.48,6.18c4.29.36,8.59.62,12.9.92Z" transform="translate(-10.2 -12.13)"/>
          <path d="M549,536.59c1.62-.14,2.65-.31,3.68-.3,3.35,0,6.7.13,10.06.2a62.06,62.06,0,0,0,26.16-4.91c3.36-1.44,6.52-3.34,9.76-5.05.52-.27,1-.58,2.14-1.22a13.15,13.15,0,0,1-3.92,5.39,36.54,36.54,0,0,1-21.57,9.42,69.43,69.43,0,0,1-24.66-2.45A8.49,8.49,0,0,1,549,536.59Z" transform="translate(-10.2 -12.13)"/>
          <path d="M750.19,499.17c-4.65,5.56-9.87,10.21-16.47,12.9A42.15,42.15,0,0,1,714,514.86c-4.33-.36-8.78-.52-12.76-3.1,1.84-.12,3.67-.27,5.51-.34a131.61,131.61,0,0,0,19-1.87,41.85,41.85,0,0,0,11.28-3.82c4-2,7.87-4.19,11.81-6.26A5.18,5.18,0,0,1,750.19,499.17Z" transform="translate(-10.2 -12.13)"/>
          <path d="M706.21,230.32c-.28,1.59-1.84,1.91-2.7,2.92.94-1.88.94-1.88,2.8-2.82Z" transform="translate(-10.2 -12.13)"/>
          <path d="M745.31,398.69l-2.63.46,0-.46h2.66Z" transform="translate(-10.2 -12.13)"/>
          <path d="M964.78,682.91v-2.08l.46,0c-.18.63-.37,1.26-.53,1.92Z" transform="translate(-10.2 -12.13)"/>
          <path d="M1023.31,745c.24-.37.46-.75.71-1.1.08-.1.26-.13.39-.2,0,.15,0,.37-.05.44-.32.3-.68.56-1,.83Z" transform="translate(-10.2 -12.13)"/>
          <path d="M551.19,398.82l2.72-.33a2.56,2.56,0,0,1-2.78.3S551.19,398.82,551.19,398.82Z" transform="translate(-10.2 -12.13)"/>
          <path d="M773.12,538.86l-1.64.21,0-.14,1.64-.09Z" transform="translate(-10.2 -12.13)"/>
          <path d="M568.53,609.05c0-.15,0-.29,0-.44,0,.16,0,.31.05.47Z" transform="translate(-10.2 -12.13)"/>
          <path d="M872.53,305.75s0-.06,0-.07Z" transform="translate(-10.2 -12.13)"/>
          <path d="M410.08,242.3c-.1-.24-.19-.49-.29-.73.07.07.17.13.18.22a2.62,2.62,0,0,1,0,.41Z" transform="translate(-10.2 -12.13)"/>
          <path d="M885.1,241.53c.06-.34.13-.67.19-1l.1,0c-.09.33-.18.66-.28,1Z" transform="translate(-10.2 -12.13)"/>
          <path d="M1023.34,744.94c0,.36.11.72.17,1.08h-.06c-.05-.35-.09-.7-.14-1.06Z" transform="translate(-10.2 -12.13)"/>
          <path d="M769.7,481l-.84.36.92-.26Z" transform="translate(-10.2 -12.13)"/>
          <path d="M987.17,681.42a19.55,19.55,0,0,1,.12,3.23A121.39,121.39,0,0,1,980,712.37a44.08,44.08,0,0,1-6.33,10.68c-5.78,7.3-15,10.23-24.39,7.55,2.82-.55,5.11-1.09,7.43-1.44a20.69,20.69,0,0,0,13-7.41,36.39,36.39,0,0,0,6.3-10.13c2-5.21,4-10.43,5.84-15.69,1.5-4.21,2.81-8.48,4.24-12.72A11.42,11.42,0,0,1,987.17,681.42Z" transform="translate(-10.2 -12.13)" style="fill: none"/>
          <path d="M1032.89,629.27c.09.93.24,1.86.27,2.79.17,5.11.26,10.22.47,15.33a38.07,38.07,0,0,0,.67,5.21c.72,4,3.33,6.07,7.22,6.56,3,.38,6,.7,9,.78,7.19.2,14.38.17,21.57.36,2.81.08,5.69,0,9.39,1.51-2.12.13-3.17.23-4.23.25-9.26.18-18.53.38-27.8.51a55.53,55.53,0,0,1-6.7-.28c-6.8-.74-10.79-3.47-11.57-12.13a19.23,19.23,0,0,1,0-2.4q.24-8.62.54-17.25a4.79,4.79,0,0,1,.38-1.28Z" transform="translate(-10.2 -12.13)" style="fill: none"/>
          <path d="M1102.62,624c.19-1.22.38-2.44.58-3.67.76-4.72,0-5.71-4.69-6q-6.18-.43-12.35-.94c-.62,0-1.23-.17-1.93-.28.11-.34.14-.73.25-.75a60.94,60.94,0,0,1,14.71-.92,11.81,11.81,0,0,1,1.88.26c4.09.9,5.52,3.16,4.6,7.3a14.51,14.51,0,0,1-.81,2.73,22.82,22.82,0,0,1-1.42,2.42Z" transform="translate(-10.2 -12.13)" style="fill: none"/>
          <path d="M1038.67,559.23a20.94,20.94,0,0,1,7.1-1.62,93.45,93.45,0,0,1,40.9,6,111.07,111.07,0,0,1,24.12,12.62c16,11.21,27.65,25.82,34.32,44.33a115.92,115.92,0,0,1,6.12,28c.16,1.57,0,3.17,0,5.88-.57-1.55-.82-2.1-1-2.67a18.74,18.74,0,0,1-.5-2.34,120.38,120.38,0,0,0-5.32-22.33,95.48,95.48,0,0,0-32.83-45.55,115.56,115.56,0,0,0-38.42-19c-8.45-2.48-17.24-3.25-26.07-3.31C1044.6,559.22,1042.05,559.23,1038.67,559.23Z" transform="translate(-10.2 -12.13)" style="fill: none"/>
          <path d="M1085.38,723c.31-1,1.16-1,1.93-1.06,2.37-.27,4.75-.46,7.12-.77a31.62,31.62,0,0,0,4.21-.82,10,10,0,0,0,7.6-7.78c.74-3.09,1.16-6.26,1.84-9.37a33.34,33.34,0,0,1,1.57-5c.26-.64,1-1.09,2.13-2.25-.56,6-.73,11.21-1.58,16.3-1.22,7.39-5.35,11.06-12.76,12.12A26.86,26.86,0,0,1,1085.38,723Z" transform="translate(-10.2 -12.13)" style="fill: none"/>
        </g>
      </svg>
      
</div>

<style>

    .award {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;   
        width: 60%;

        border-radius: 50%;
        padding: 15px;
        /* box-shadow: inset -1px -2px 1px 0px rgba(0, 0, 0, 0.562), inset 1px 2px 1px 0px rgba(255, 255, 255, 0.39), inset 2px 3px 1px 0px rgba(0, 0, 0, 0.459); */
        /* height: 70%; */
    }
</style>