<script>
    import { state } from "../lib/baucua";

    import { fly } from "svelte/transition";
    import { onMount } from "svelte";

    let inputEl;
    let value = "";
    let amount = 0;
    export let tile;

    $: amount = parseInt(value) || 0;
    $: $state.tiles[tile] = amount;

    onMount(() => {
        inputEl.focus();
    })

    document.querySelector("#action-btn").addEventListener("click", e => {
        inputEl.value = ""
        console.log("yoo")
    })
</script>

<div transition:fly={{opacity: 1, duration: 350, y: -100}}>
    <input class="interact" type="text" placeholder="100" bind:value bind:this={inputEl}>
    <!-- <button on:click={e=>{$state.tiles[tile] = amount}} class="interact"> bet </button> -->
</div>

<style>

    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        margin: 10px;
        position: absolute;
        top: 0;
        border-radius: 5px;
    }

    .interact {
        color: white;
        padding:  8px 15px;
        background-color: var(--red);
        border: 3px solid var(--yellow);
        font-family: inherit;
    }
    
    input {
        border: none;
        background: none;
        outline: none;
        height: 100%;
        width: 100%;
        /* padding: 5px; */
    }

    button {
        height: 100%;
        background: none;
        outline: none;
        border: none;
        margin-left: 10px;
    }

</style>