<script>
    import MatTile from "./MatTile.svelte";

    import bua from "../assets/bau.png";
    import ca from "../assets/ca.png";
    import cua from "../assets/cua.png";
    import ga from "../assets/ga.png";
    import nai from "../assets/nai.png";
    import tom from "../assets/tom.png";

</script>

<div class="base ">
    <MatTile src={nai} alt="nai" tile="stag"></MatTile>
    <MatTile src={bua} alt="bua" tile="gourd"></MatTile>
    <MatTile src={ga} alt="ga" tile="rooster"></MatTile>
    <MatTile src={ca} alt="ca" tile="fish"></MatTile>
    <MatTile src={cua} alt="cua" tile="crab"></MatTile>
    <MatTile src={tom} alt="tom" tile="prawn"></MatTile>
</div>

<style>

    .base {
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: repeat(2, minmax(0, 1fr));
        gap: 20px;

        /* min-width: 0; */
        min-height: 0;

        padding: 20px;
    }

</style>