<script>
    import { each } from "svelte/internal";


    function* range(start, end) {
        for (let i = start; i <= end; i++) {
            yield i;
        }
    }

    export const emoji = "😁";


</script>

<div class="emoji-picker">
    <div class="list">
        {#each [...range(0x1F601, 0x1FAA7)] as emoji}
            <span class="emoji" on:click={e=>{}}>{@html `&#${emoji};`}</span>
        {/each}
    </div>
    
</div>

<style>
    .emoji-picker {
        display: inline-block;
        position: absolute;
        top: 100%;
        left: 0;
        /* padding: 10px; */
        box-sizing: content-box;
        background: white;
        border-radius: 5px;
        margin: 10px 0px;
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        width: 110px;
        height: 110px;
        z-index: 10;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .emoji {
        padding: 5px;
    }

</style>