<script>
    // import { flip } from "svelte/animate";

    import Player from "./Player.svelte";
    import MatTile from "./MatTile.svelte";
    import AddPlayer from "./AddPlayer.svelte";

    import { state } from "../lib/baucua";

    import bua from "../assets/bau.png";
    import ca from "../assets/ca.png";
    import cua from "../assets/cua.png";
    import ga from "../assets/ga.png";
    import nai from "../assets/nai.png";
    import tom from "../assets/tom.png";

    /*
    adding players
    rejuicing
    reward animations
    audio
    round count
    winnings ! (animate)
    */

    function startBetting() {
        $state.stage = "betting";
        $state.better = $state.player_list[0];
    }

    function newRound() {
        $state.stage = "roundstart";
        $state.tile_rolls = { fish:0, prawn:0, crab:0, rooster:0, gourd:0, stag:0 };
        for (let i = 0; i < $state.player_list.length; i++) {
            $state.player_list[i].bets = { fish:0, prawn:0, crab:0, rooster:0, gourd:0, stag:0 };
        }
    }

    function roll() {
        const r = ["fish", "prawn", "crab", "rooster", "gourd", "stag"];
        $state.tile_rolls[r[Math.floor(Math.random() * 6)]]++;
        $state.tile_rolls[r[Math.floor(Math.random() * 6)]]++;
        $state.tile_rolls[r[Math.floor(Math.random() * 6)]]++;
        for (let i = 0; i < $state.player_list.length; i++) {
            const player = $state.player_list[i];
            let winnings = 0;
            r.forEach(tile => {
                winnings += player.bets[tile] * $state.tile_rolls[tile];
            });
            player.balance += winnings;
        }
    }

    function handleGameplayButton(evt) {
        if ($state.stage == "betting") {
            const tiles = Object.assign({}, $state.tiles);
            let sum = 0;
            for (const tile in tiles) {
                sum += tiles[tile];
            }
            if (sum <= $state.better.balance) {
                $state.better.bets = tiles;
                $state.better.balance -= sum;
                let nextIndex = $state.player_list.indexOf($state.better) + 1;
                if (nextIndex < $state.player_list.length) {
                    $state.better = $state.player_list[nextIndex];
                } else {
                    roll();
                    // $state.better = {};
                    $state.stage = "rewarding";
                }
            } else {
                console.log("it's not adding up chief, slow down");
            }
        } else if ($state.stage == "rewarding") {
            newRound();
        } else if ($state.stage == "roundstart") {
            startBetting();
        }
    }

</script>

<div class="area">

    <div class="status">
        <!-- {$state.stage} -->
    </div>

    <div class="gameplay-btn bordered">
        <button on:click={handleGameplayButton}>
            {
                $state.stage == "roundstart" ? "New Round" :
                $state.stage == "betting" ? "Place Bet" :
                $state.stage == "rewarding" ? "Winnings" : "..."
            }
        </button>
    </div>

    <div class="player-list bordered">
        <ul>
            {#each $state.player_list as player, i (i)}
                <Player data={player}/>
            {/each}
            {#if $state.stage == "roundstart"}
                <AddPlayer></AddPlayer>
            {/if}
        </ul>
    </div>
    
    <div class="mat bordered">
        <MatTile src={bua} alt="bua" tile="gourd"></MatTile>
        <MatTile src={ca} alt="ca" tile="fish"></MatTile>
        <MatTile src={cua} alt="cua" tile="crab"></MatTile>
        <MatTile src={ga} alt="ga" tile="rooster"></MatTile>
        <MatTile src={nai} alt="nai" tile="stag"></MatTile>
        <MatTile src={tom} alt="tom" tile="prawn"></MatTile>
    </div>
</div>

<style>
 .area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 8fr;
    gap: 10px;

    width: 90vw;
    height: calc(90vw / var(--aspect-ratio));

    margin: auto;
    /* background-color: var(--red); */
  }

  @media (min-aspect-ratio: 16/9) {
    .area {
      width: calc(90vh * var(--aspect-ratio));
      height: 90vh;
    }
  }

  .status {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      /* background: red; */
  }

  .gameplay-btn {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: box-shadow 200ms;
      box-shadow: 0px 0px 0px 0px black;
  }

  .gameplay-btn:hover {
      box-shadow: 0px 0px 4px 0px black;
  }

  .gameplay-btn button {
      font: inherit;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
  }

  .player-list {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      /* padding: 10px; */
      overflow-y: scroll;
      overflow-x: hidden;
      scroll-behavior: smooth;
  }

  .mat {
    grid-column: 2 / 4;
    grid-row: 3 / 4;

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 20px;

    /* min-width: 0; */
    min-height: 0;

    padding: 20px;
  }

</style>