<script>

</script>


<div class="base">
    <slot id="action-btn" class="gameplay-button" name="gameplay-button"> </slot>
    <slot class="player-list" name="player-list"> </slot>
    <slot class="board" name="board"> </slot>
</div>

<style>

    .base {
        z-index: 1;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 9fr;
        gap: 10px;

        width: 90vw;
        height: calc(90vw / var(--aspect-ratio));

        margin: auto;
        /* background-color: var(--red); */
    }

    @media (min-aspect-ratio: 16/8) {
        .base {
            width: calc(90vh * var(--aspect-ratio));
            height: 90vh;
        }
    }

    .gameplay-button {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

</style>