<script>
    import { state } from "../lib/baucua";

    import BetPopup from "./BetPopup.svelte";
    import AwardStamp from "./AwardStamp.svelte";

    export let src;
    export let alt;
    export let tile;

    let betText;

    $: $state.tiles[tile] = parseInt(betText) || 0;;

    $: betting = $state.stage == "betting";

    let reward = 0;
    let betters = [];

    $: reward = $state.tile_rolls[tile];
    $: {
        let list = $state.player_list;
        betters = list.filter(player => {
            return player.bets[tile] != 0;
        });
        betters.reverse();
    }

</script>

<div>
    <img {src} {alt}>
    <div class="bet-icons"> 
        {#each betters as better}
            <span class="emoji">{better.emoji}</span>
        {/each}
    </div>
    {#if betting}
        <!-- <BetPopup {tile}></BetPopup> -->
        <div class="bet-input-wrapper">
            <input class="bet-input bordered" type=text placeholder="bet" bind:value={betText}>
        </div>
    {/if}
    {#if reward != 0}
        <AwardStamp level={reward}></AwardStamp>
    {/if}
</div>

<style>

    div {
        min-width: 0;
        min-height: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border-radius: 10px; */
        position: relative;
        /* object-fit: fill; */

    }

    img {
        /* width: 80%; */
        height: 100%;
        border-radius: 5px;
        padding: 10px;
        background: var(--blue);
        border: 3px solid var(--gold);
    }

    .bet-icons {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }

    .emoji {
        font-size: 1.5em;
        padding: 0 5px;
    }

    .bet-input-wrapper {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 7%;
        /* margin: 15px 10px; */
    }

    .bet-input {
        color: var(--gold);
        padding:  8px 15px;
        /* background-color: var(--red); */
        border: 3px solid var(--gold);
        font-family: inherit;
        outline: none;
        height: 100%;
        width: 80%;
        /* padding: 5px; */
    }

</style>