<script>
    import { state } from "../lib/baucua";
    import Player from "./Player.svelte";
    import AddPlayer from "./AddPlayer.svelte";

    import tiger from "../assets/tiger.png";
    import flower from "../assets/flower.png";
    import cloud from "../assets/cloud.png";


</script>

<div class="base bordered">
    <div class="wrapper">
        <div class="flower art">
            <img class="" src={flower} alt=flower>
        </div>

        <div class="flower2 art">
            <img class="" src={flower} alt=flower>
        </div>

        <div class="cloud art">
            <img class="" src={cloud} alt=cloud>
        </div>

        <div class="tiger art">
            <img class="" src={tiger} alt=tiger>
        </div>

        {#each $state.player_list as player, i (player)}
            <Player data={player}></Player>
        {/each}
        {#if $state.stage == "roundstart"}
            <AddPlayer></AddPlayer>
        {/if}
    </div>
</div>

<style>
    .base {
        position: relative;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding: 3px;
        background: radial-gradient(151.12% 60.24% at 0% 100%, #FFA800 0%, rgba(255, 168, 1, 0) 100%), 
                    linear-gradient(0deg, var(--red), var(--gold)),
                    #FFFFFF;
    }

    .wrapper {
        background: var(--red);
        height: 100%;
        border-radius: 3px;
        padding: 5px;
        position: relative;
    }

    .art {
        position: absolute;
        z-index: 0;
    }

    .art > img {
        height: 100%;
    }

    .tiger {
        width: 100%;
        height: 28%;
        bottom: 1%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flower {
        bottom: -2%;
        height: 20%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .flower2 {
        bottom: -2%;
        left: -1%;
        height: 20%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .flower2 > img {
        transform: scaleX(-1);
    }

    .cloud {
        bottom: 25%;
        left: -1%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>