<script>
    import { state } from "../lib/baucua";

    export let data;

    let juice = 0;
    let juiceText;

    $: {
        try {
            juice = parseInt(juiceText)
        } catch {
            juice = 0;
        }
    }

    $: net = data.balance - data.bank;
    $: betting = $state.stage == "betting" && $state.better.name == data.name;

    $: show_on_edit = $state.stage == "roundstart" ? "show" : "";


    function rejuice(e) {
        data.bank += juice;
        data.balance += juice;
    }

    function handleRemove(e) {
        if (!confirm(`remove ${data.name}?`)) return;
        let index = $state.player_list.indexOf(data);
        if (index < 0) return;
        $state.player_list = $state.player_list.filter(player => data != player);
        console.log($state.player_list);
    }
</script>

<div class="base {betting ? "better" : ""}">
    <div class="left">
        <button on:click={handleRemove} class="padded remove {show_on_edit}" style="margin-left:-25px">X</button>
        <span class="padded emoji">{data.emoji}</span>
        <span class="padded name">{data.name}</span>
    </div>
    <div class="right">
        <span class="padded net {net < 0 ? "neg" : ""}">{net < 0 ? "-" : "+"}{net}</span>
        <span class="padded">${data.balance}</span>
        <span class="rejuice input" contenteditable="true" bind:textContent={juiceText}>0</span>
        <button class="padded juice-btn {show_on_edit}" style="margin-right:-70px" on:click={e=>rejuice()}>+</button>
    </div>
</div>

<style>

.base {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 0px;
    border-radius: 5px;
    z-index: 2;
    position: relative;
}

.better {
    background: var(--gold);
    color: var(--blue);
}

.left, .right {
    display: flex;
    align-items: center;
    width: fit-content;
    overflow: hidden;
}

.padded {
    padding: 0 5px;
}

.juice-btn {
    margin: 0 0 0 5px;
}

.rejuice {
    transition: all 200ms;
    width: fit-content;
    text-align: right;
    margin: 0 5px;
}

.net {
    font-size: .8em;
    color: rgb(27, 197, 92);
}

.net.neg {
    color: var(--blue);
}

.show {
    /* transform: translateX(-100%); */
    margin-left: 0px !important;
    margin-right: 0px !important;
}

</style>