<script>
import Game from "./comp/Game.svelte";
import GameArea from "./comp/GameArea.svelte";
import Player from "./comp/Player.svelte";
import PlayerList from "./comp/PlayerList.svelte";
import Board from "./comp/Board.svelte";
import { state } from "./lib/baucua";
import AddPlayer from "./comp/AddPlayer.svelte";

import noise from "./assets/noise.png";
import stars from "./assets/starstet169.png";



let game_btn;


function startBetting() {
    $state.stage = "betting";
    $state.better = $state.player_list[0];
}

function newRound() {
    $state.stage = "roundstart";
    $state.tile_rolls = { fish:0, prawn:0, crab:0, rooster:0, gourd:0, stag:0 };
    for (let i = 0; i < $state.player_list.length; i++) {
        $state.player_list[i].bets = { fish:0, prawn:0, crab:0, rooster:0, gourd:0, stag:0 };
    }
}

function roll() {
    const r = ["fish", "prawn", "crab", "rooster", "gourd", "stag"];
    $state.tile_rolls[r[Math.floor(Math.random() * 6)]]++;
    $state.tile_rolls[r[Math.floor(Math.random() * 6)]]++;
    $state.tile_rolls[r[Math.floor(Math.random() * 6)]]++;
    for (let i = 0; i < $state.player_list.length; i++) {
        const player = $state.player_list[i];
        let winnings = 0;
        r.forEach(tile => {
            if ($state.tile_rolls[tile] != 0) {
              winnings += player.bets[tile] * ($state.tile_rolls[tile] + 1);
            }
        });
        player.balance += winnings;
    }
}

function handleGameplayButton(evt) {
    if ($state.stage == "betting") {
        const tiles = Object.assign({}, $state.tiles);
        let sum = 0;
        for (const tile in tiles) {
            sum += tiles[tile];
        }
        if (sum <= $state.better.balance) {
            $state.better.bets = tiles;
            $state.better.balance -= sum;
            let nextIndex = $state.player_list.indexOf($state.better) + 1;
            let bet_inputs = document.querySelectorAll(".bet-input");
            bet_inputs.forEach((input, i) => {
              // input.value = "";
            });
            if (nextIndex < $state.player_list.length) {
                $state.better = $state.player_list[nextIndex];
            } else {
                roll();
                // $state.better = {};
                $state.stage = "rewarding";
            }
            $state.tiles = { fish:0, prawn:0, crab:0, rooster:0, gourd:0, stag:0 };
        } else {
            console.log("it's not adding up chief, slow down");
        }
    } else if ($state.stage == "rewarding") {
        newRound();
    } else if ($state.stage == "roundstart") {
        startBetting();
    }
}


</script>

<main style="background-image: url({stars});">
  <div class="noise" style="background-image: url({noise});"></div>
  <!-- <GameArea>
  </GameArea> -->

  <Game>
    <button class="bordered" on:click={handleGameplayButton} slot="gameplay-button"> {$state.stage} </button>
    <PlayerList slot="player-list"></PlayerList>
    <Board slot="board"></Board>
  </Game>

</main>

<style>
  :root {
    font-family: "Reggae One";

    --red: #843135;
    --red2: rgb(122, 15, 20);
    --yellow: #FEE7B8;
    --white: rgb(252, 255, 239);
    --gold: #f5bc00;
    --blue2: rgb(1, 2, 15);
    --blue: rgb(0, 4, 48);

    --background-color: var(--blue2);
    --border-color: var(--gold);

    --aspect-ratio: calc(16/8);
  }

  :global(*) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :global(.bordered) {
    border: none;
    background-color: var(--red);
    border-radius: 5px;
  }

  :global(button) {
    background: var(--red);
    color: var(--gold);
    transition: all 100ms;
    border: none;
    /* border-bottom: 3px solid var(--blue); */
    font-family: inherit;
  }

  :global(button:hover) {
    background: var(--gold);
    color: var(--red);
  }

  :global(button:active) {
    /* border-bottom: 0px solid var(--blue); */
  }

  :global(button:active) {
  }

  :global(.input) {
    border-bottom: 3px solid var(--gold);
    min-width: 30px;
    outline: none;
  }  

  :global(.input:focus) {
  }

  main { 
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    background-size: contain;
    /* background-repeat: none; */
    color: var(--gold);
    /* justify-content: center; */
  }

  .noise {
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0.1;
    background-size: 10%;
    top: 0;
    bottom: 0;
    background-repeat: repeat;
    z-index: 0;
  }

  .special {

    /* transform: perspective(200px) rotate3d(1, 0, 0, 30deg); */
  }

</style>
